<div class="post-contents middle-title container">
나의 수정 요청 진행 현황
</div>

<div class ="contents request-contents">
    <div class="post-num">
      총 <%=@user_requests.all.count%>건
    </div>
  <div class="post-table" style="margin-top: 0.8rem;">    
    <table class="table table-hover" id="post-table">
      <thead>
        <tr class= "postall postd posti postq posta postc">
          <%# <th>Category</th> %>
          <th style="width:10%;">진행</th>          
          <th style="width:60%;" class="title">제목</th>
          <th>작성자</th>
          <th style="width:10%;">작성일</th>
          <th style="width:8%;">조회수</th>      
        </tr>
      </thead>

      <tbody>
        <% if @user_requests != nil %>
          <% @user_requests.each do |request| %>
            <tr >
              <td> 
              <% if request.completed==true %>
              <div class="completed"style="font-weight:lighter;color:#002f7b; ">[완료]</div>
              <% else %>
              <div class="completed"style="font-weight:lighter;color:#FF5400;">[미처리]</div>
              <% end %>   
              </td>
              <td class="title">
                  <%= link_to request.title, request, {:class => "linkto",:style=>"font-size:0.8rem;"} %>             
              </td>
              <td class="post-td-gray"><%= request.name %></td>
              <td class="post-td-gray"><%= request.time(request)%></td>                
              <td class="post-td-gray"> <%= request.impressionist_count(:filter=>:session_hash) %></td>
            </tr>
          <%end%>
          <% end %>
      </tbody>
    </table>
  </div>
</div>

<script>

// 행 clickable 
  $(document).ready(function() {
      $('#post-table tr').click(function() {
          var href = $(this).find("a").attr("href");

          if(href) {
              window.location = href;
          }
      });
  });
 </script>
