<!-- My Page : Open-->

<!-- 상단 섹션 -->
  <div class="ProfileUpperSection">
    <!-- 상단 섹션 중 상단 배너 이미지 -->
        <div class="ProfileUpperBannerSection">
          <div class="container">
            <% if @profile.id == current_user.id %>
              <%= link_to(fa_icon("cog", class: "ProfileEditButton"), edit_user_registration_path) %>
            <% end %>
            <br>
            <div class="ProfileUpperButtonSection">
              <% if @profile.id == current_user.id %>
              
              <% else %>
              <!--
                <% if !current_user.following?(@profile) %>
                  <%= link_to "팔로우하기", profile_follow_path(@profile.id), class: "ProfileBanner-Button", style: "color: white;", method: "get" %>
                <% else %>
                  <%= link_to "팔로우하기", profile_follow_path(@profile.id), class: "ProfileBanner-Unbutton", style: "color: white;", method: "get" %>
                <% end %>
              -->
                <%= link_to "쪽지보내기", conversations_path(sender_id: current_user.id, recipient_id: @profile.user.id), style: "color: white;", method: "post", class: 'ProfileBanner-Button' %>
              <% end %>
            </div>
          </div>
        </div>
    <!-- 상단 섹션 중 상단 배너 이미지 끝 -->

    <!-- 상단 섹션 중 프로필 이미지 -->
        <% if @profile.user.profileimg.url != nil %>
          <%= image_tag @profile.user.profileimg.url, class: "ProfileImg" %> 
        <% elsif %>
          <%= image_tag "defaultImg3", class: "ProfileDefaultImg" %>
        <% end %>
    <!-- 상단 섹션 중 프로필 이미지 끝 -->

    <!-- 상단 섹션 중 하단 프로필 정보 섹션 -->
        <div class="ProfileDownInfoSection">
          <div class="container" style="height: 100%;">

            <div class="ProfileInfoSection">
              <div class="ProfileInfo">
                <p class="ProfileName big-title"> <%= @profile.user.name %> </p>
                <div class="profile-specific">
                <p> <strong> 성별  </strong> <%= @profile.user.gender %>성 <br> <strong>나이  </strong> <%= @profile.user.ages %> </p>
                </div>
              </div>
            </div>
          
            <div class="ProfileTabInfo">
              <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                  <a style="color: black" class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">
                    알레르기 정보
                  </a>
                  <% if @profile.id != current_user.id%>
                  <% else %>
                    <a style="text-decoration: none; color: black" class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">
                      MESSAGE
                    <span style="padding-top: 0.4rem;" class="badge badge-danger badge-pill"><%= @conversations.where(recipient_id: current_user.id).count %></span>
                    </a>
                    <!--
                    <a style="text-decoration: none; color: black" class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">
                      FOLLOW
                    </a>
                    -->
                  <% end %>              
                </div>
              </nav>

              <div class="scroll" style="overflow-y: scroll; border: 1px solid rgb(226, 226, 226); height: 10rem; background-color: white; width: 100%">
                  <div style="margin-left: 2rem;margin-top: 2rem;" class="tab-content" id="nav-tabContent">
                    
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                      <%if @profile.nil? == 'true' %>
                      
                      <%# <% elsif @profile.nil? == 'false' %>
                        <%# <%if @profile.user.allergy.include?("난류") %>
                          <%# <div style="float: left; height: 6rem; width: 5rem; border: 1px solid rgb(226, 226, 226); background-color: white;"><%= image_tag "profile_egg.png", style: "margin-top: 0.5rem; margin-bottom: 0.5rem; display: block; margin-left: auto; margin-right: auto; width: 50%; width: 2.5rem" %></div>
                        <%# <% end %> 
                        <%# <% if @profile.user.allergy.include?("복숭아") %> 
                          <%# <div style="float: left; height: 6rem; width: 5rem; border: 1px solid rgb(226, 226, 226); background-color: white;"><%= image_tag "profile_tomato.png", style: "margin-top: 0.5rem; margin-bottom: 0.5rem; display: block; margin-left: auto; margin-right: auto; width: 50%; width: 2.5rem" %></div>
                        <%# <% end %>
                        <%# <% if @profile.user.allergy.include?("토마토") %>
                          <%# <div style="float: left; height: 6rem; width: 5rem; border: 1px solid rgb(226, 226, 226); background-color: white;"><%= image_tag "profile_peach.png", style: "margin-top: 0.5rem; margin-bottom: 0.5rem; display: block; margin-left: auto; margin-right: auto; width: 50%; width: 2.5rem" %></div>
                        <%# <% end %>
                        <%# <% if @profile.user.allergy.include?("닭고기") %>
                          <%# <div style="float: left; height: 6rem; width: 5rem; border: 1px solid rgb(226, 226, 226); background-color: white;"><%= image_tag "profile_beef.png", style: "margin-top: 0.5rem; margin-bottom: 0.5rem; display: block; margin-left: auto; margin-right: auto; width: 50%; width: 2.5rem" %></div>
                        <%# <% end %> 
                      <%# <% end %> 
                    <%# </div>  %> 

                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                      <table class="table" style="font-size: 0.8rem;">
                        <tbody>
                          <% i = 0 %>
                          <% @conversations.reverse_order.each do |conversation| %>
                              <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
                                  <% if conversation.sender_id == current_user.id %>
                                  <% recipient = User.find(conversation.recipient_id) %>
                                  <% else %>
                                  <% recipient = User.find(conversation.sender_id) %>
                                  <% end %>
                              <tr style="line-height: 29.5px; border-bottom: 1px solid #dee2e6;">
                              <th scope = "row"><%= link_to " #{i+=1} 번", conversation_messages_path(conversation), style: "text-decoration: none; color: #454338;" %> </th>
                                  <td><%= link_to "#{recipient.name}님", conversation_messages_path(conversation), style: "text-decoration: none; color: #454338;" %>  </td>
                                  <td><%= link_to " #{conversation.messages.last.body.first(22)}...", conversation_messages_path(conversation), style: "text-decoration: none; color: #454338;" %>  </td>
                                  <td><%= link_to " #{conversation.messages.last.message_time} ", conversation_messages_path(conversation), style: "text-decoration: none; color: #454338;" %></td>
                              </tr>
                              <% end %> 
                          <% end %>
                        </tbody>
                      </table>
                    </div>

                    <!--
                    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                      <% @profile.user.following_profiles.each do |profile| %>
                        <%= link_to profile.user.name, profile_url(profile.id), style: "color: black;" %>
                      <% end %>
                    </div>
                    -->

                  </div>
              </div>
            </div>


          </div>
        </div>
    <!-- 상단 섹션 중 하단 프로필 정보 섹션 끝 -->
  </div>
<!-- 상단 섹션 끝 -->


<!-- 프로필 레시피 섹션 -->
  <div class="ProfileRecipeSection">
    <!-- 프로필 레시피 제목 섹션 -->
      <p class="ProfileTitle big-title">즐겨찾는 레시피</p>
    <!-- 프로필 레시피 제목 섹션 끝 -->
    <!-- 프로필 레시피 사진 섹션 -->
      <div class="ProfileRecipeSection container">
        <nav style="font-size: 0.9rem;">
          <%# <p class="ProfileRecipeCount">최신 3건</p>
          <p style="float: right;">더 보기</p> %>
        </nav>
        <!-- 프로필 레시피 사진 섹션 중 이미지 나열 섹션 -->
          <div class="ProfileRecipeImgSection">
            <!-- 프로필 레시피 사진 섹션 중 이미지 1 -->
              <div class="ProfileRecipeImgBlock">
                <%= image_tag "contents-ready-beige.PNG", class:"ProfileRecipeImg"%>
                <div class="container"  style="height:5rem;">
                   <span class="popular-recipe-text">레시피 컨텐츠 준비중입니다</span>
                </div>
              </div>
            <!-- 프로필 레시피 사진 섹션 중 이미지 1 끝 -->

            <!-- 프로필 레시피 사진 섹션 중 이미지 2 -->
              <div class="ProfileRecipeImgBlock">
                <%= image_tag "contents-ready-beige.PNG", class:"ProfileRecipeImg"%>
                <div class="container"  style="height:5rem;">
                   <span class="popular-recipe-text">레시피 컨텐츠 준비중입니다</span>
                </div>
              </div>
            <!-- 프로필 레시피 사진 섹션 중 이미지 2 끝 -->

            <!-- 프로필 레시피 사진 섹션 중 이미지 3 -->
              <div class="ProfileRecipeImgBlock">
                <%= image_tag "contents-ready-beige.PNG", class:"ProfileRecipeImg"%>
                <div class="container" style="height:5rem;">
                  <span class="popular-recipe-text">레시피 컨텐츠 준비중입니다</span>
                </div>
              </div>
            <!-- 프로필 레시피 사진 섹션 중 이미지 3 끝 -->

          </div>
        <!-- 프로필 레시피 사진 섹션 중 이미지 나열 섹션 끝 -->
      </div>
    <!-- 프로필 레시피 사진 끝 -->
  </div>
<!-- 프로필 레시피 섹션 끝 -->
  

<!-- 작성한 게시글 & 댓글단 게시글 섹션 -->
  <div class="ProfilePostingSection">
    <div class="container">
      <div class="row" style="margin-bottom: 1rem;">
        <!-- 작성한 게시판 -->
          <div class="col">
            <nav style="margin-top: 2rem; ">
              <p style="float: left"><b>작성한 게시글</b></p>
              <p style="float: right;font-size: 0.9rem;"><%=link_to '전체 보기', myposts_path(@profile), class:"linkto", target: :_blank %></p> 
            </nav>
            <table class="ProfilePostingTable table" style="font-size: 0.8rem;">
              <thead style="background-color: #1E285D">
                <tr style="color: white">
                  <th width="10%">NO</th>
                  <th width="20%">제목</th>
                  <th width="10%">작성자</th>
                  <th width="10%">댓글</th>
                </tr>
              </thead>
              <tbody><% n = 1%>
                <%  @user_posts.each do |post| %>
                   <tr style="line-height:15px; border-bottom: 1px solid #dee2e6;background-color:white;">
                    <td> <%= n %><%n=n+1%></td>
                    <td style="text-align: left;"><%= link_to post.title, post, {:class => "linkto"} %></td>
                    <td><%= post.name %></td>                                        
                    <td><%= post.comment_threads.count %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        <!-- 작성한 게시판 끝 -->

        <!-- 댓글단 게시판 -->
          <div class="col">
            <nav style="margin-top: 2rem;">
              <p style="float: left;"><b>댓글 단 게시글</b></p>
              <p style="float: right;font-size: 0.9rem;"><%=link_to '전체 보기', mycomments_path(id:@profile), class:"linkto", target: :_blank %></p>  
            </nav>
            <table class="ProfilePostingTable table" style="font-size: 0.8rem;">
              <thead style="background-color: #1E285D">
                <tr style="color: white">
                  <th width="8%">NO</th>
                  <th width="26%">제목</th>
                  <th width="8%">작성자</th>
                  <th width="8%">댓글</th>
                </tr>
              </thead>
               <tbody><% n = 1%>
                <%  @user_comments.each do |comment| %>
                   <tr style="line-height:15px; border-bottom: 1px solid #dee2e6;background-color:white;">
                    <td> <%= n %><%n=n+1%></td>
                    <td style="text-align: left;"><%= link_to comment.title, comment, {:class => "linkto"} %></td>
                    <td><%= comment.name %></td>                    
                    <td><%= comment.comment_threads.count %></td>            
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        <!-- 댓글단 게시판 끝 -->
      </div>
    </div>
  </div>
<!-- 작성한 게시글 & 댓글단 게시글 섹션 끝 -->

<% if current_user.id == @profile.id %>
<!-- 수정 요청 현황확인 섹션 -->
  <div class="ProfileRequestEditSection" style="margin-bottom:5rem;">
    <!-- 수정 요청 현황확인 제목 -->
      <p class="ProfileTitle big-title">수정 요청 현황 확인</p>
    <!-- 수정 요청 현황확인 제목 끝 -->

    <!-- 수정 요청 현황확인 내역 -->
      <div class="container">
        <!-- 수정 요청 현황확인 네브바 내역 -->
          <nav style="font-size: 0.8rem;">
            <p style="float: right"><%=link_to '더 보기', myrequests_path(@profile), class:"linkto", target: :_blank %></p> 
          </nav>
          
        <!-- 수정 요청 현황확인 네브바 내역 끝 -->
    
  <!-- 수정 요청 현황확인 섹션 -->
    <div class="profile-request container d-flex"> <%n=1%>
      <%@user_requests.each do |request|%>
      <div class="request-box">
        <%=link_to request do %>        
        <div style="margin-bottom: 0rem; margin-top: 1rem;color:black;"> <%=n%><%n=n+1%>번 수정요청에 대한 현황 </div>        
        <div style="color: rgb(165, 164, 164); font-size: 0.8rem; margin-top: 0rem;"> <%=request.created_at.strftime('%Y-%m-%d %H:%M')%> </div>
          <% if request.completed== true %>   
        <div class="request-completed">완료
          <% else %>
        <div class="request-uncompleted">미처리
          <%end%>
        </div>
      </div>
      <%end%>  
      <%end%>                       
    </div> 
    
    <p style="color: rgb(165, 164, 164); font-size: 0.8rem; margin-top: 0.5rem; float: left; position: relative;">현재 관리자가 확인 및 수정 절차를 진행하고 있습니다. 통상적으로 1~2주 안에 결과가 반영됩니다. 좋은 의견 항상 감사합니다.</p>
  </div>    
</div>

<!-- 수정 요청 현황확인 섹션 끝-->
<% else %>
<% end %>

<script>

  var scroll = document.getElementsByClassName("scroll")[0];
  scroll.scrollTop = scroll.scrollHeight;
</script>
