<!-- Button Effect & Font Style -->


<style type="text/scss">
  body { font-family: 'Jeju Myeongjo', serif; }
  h1 { font-weight: bold; }
</style>

<!-- <p id="notice"><%= notice %></p> -->

<!-- My Page : Open-->
<body style="font-family: 'NanumBarunGothic',serif;">

<div style="height: 35rem; width: 1300px; margin-left: 71px; justify-content: center; background-color: black">
  
    <div style="height: 12rem; background-color: #2e149e">
      <div class="container">
        <%= link_to(fa_icon("cog", style: "color: grey; float: right; margin-top: 1.2rem; margin-right: 0.5rem;"), edit_user_registration_path) %>
        <br>
        <div style="margin-top: 7.5rem; height: 2.5rem">
          <span style="font-size: 1.5rem; color: white; margin-left: 11.3rem; margin-top: 0.7rem; float: left"><%= @profile.user.name%></span>
          <div class="profilebanner-button"> 팔로우하기 </div>
          <div class="profilebanner-button"> 쪽지보내기 </div>
        </div>
      </div>
    </div>

    <%= image_tag @profile.user.profileimg.url, style: "position: relative; top: -4.75rem; margin-left: 7.5%; width: 10rem; height: 10rem; border-radius: 50%; float:left;" %>

    <div style="height: 23rem; background-color: #F8F8F8">
      <div class="container">
        <p style="font-size: 1rem; color: black; margin-left: 1rem; margin-top: 0.7rem; float: left"><strong>성별  </strong> <%= @profile.user.gender %>성 <br> <strong>나이  </strong> <%= @profile.user.ages %>대 <br> <%= link_to " Log Out ", destroy_user_session_path, method: :delete, class:"headerfont", :style=>"text-decoration: none; color: #454338;" %></p>
        <div style="height: 10.5rem"></div>
        
        <div style="position: absolute; margin-top: -3rem; width: 77.5%;">
          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <a style="color: black" class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">알레르기 정보</a>
              <a style="text-decoration: none; color: black" class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">MESSAGE</a>
            </div>
          </nav>

          <div style="border: 1px solid rgb(226, 226, 226); height: 10rem; background-color: white;">
              <div style="margin-left: 2rem;margin-top: 2rem;" class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                  <%if @profile.user.allergy.include?("난류") %>
                    <div style="float: left; height: 6rem; width: 5rem; border: 1px solid rgb(226, 226, 226); background-color: white;"><%= image_tag "profile_egg.png", style: "margin-top: 0.5rem; margin-bottom: 0.5rem; display: block; margin-left: auto; margin-right: auto; width: 50%; width: 2.5rem" %></div>
                  <% end %>
                  <% if @profile.user.allergy.include?("복숭아") %>
                    <div style="float: left; height: 6rem; width: 5rem; border: 1px solid rgb(226, 226, 226); background-color: white;"><%= image_tag "profile_tomato.png", style: "margin-top: 0.5rem; margin-bottom: 0.5rem; display: block; margin-left: auto; margin-right: auto; width: 50%; width: 2.5rem" %></div>
                  <% end %>
                  <% if @profile.user.allergy.include?("토마토") %>
                    <div style="float: left; height: 6rem; width: 5rem; border: 1px solid rgb(226, 226, 226); background-color: white;"><%= image_tag "profile_peach.png", style: "margin-top: 0.5rem; margin-bottom: 0.5rem; display: block; margin-left: auto; margin-right: auto; width: 50%; width: 2.5rem" %></div>
                  <% end %>
                  <% if @profile.user.allergy.include?("닭고기") %>
                    <div style="float: left; height: 6rem; width: 5rem; border: 1px solid rgb(226, 226, 226); background-color: white;"><%= image_tag "profile_beef.png", style: "margin-top: 0.5rem; margin-bottom: 0.5rem; display: block; margin-left: auto; margin-right: auto; width: 50%; width: 2.5rem" %></div>
                  <% end %>
                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                </div>
              </div>
          </div>
        </div>
        






      </div>
    </div>
  
</div>






















<!-- <h1 class="jeju" style="text-align: left; font-weight: bold;">My Page</h1> -->
<!--<br> <br>-->

<div class="jeju">
  <div class="row">
    <!-- 프로필 이미지 -->
    <div class="col-6">
      <p align="center">
        <br>
        <% if @profile.user.profileimg.url != nil %>
          <%= image_tag @profile.user.profileimg.url, style: "width: 40%;", class: "img-circle" %> <br> 
        <% elsif @profile.user.gender == "여" && @profile.user.ages == "10대이하"%>
          <%= image_tag("https://cdn.iconscout.com/icon/free/png-256/avatar-379-456331.png", style: "width: 40%") %><br>
        <% elsif @profile.user.gender == "여" && @profile.user.ages == "20-30대"%>
          <%= image_tag("https://cdn.iconscout.com/icon/free/png-256/avatar-373-456325.png", style: "width: 40%") %><br>
        <% elsif @profile.user.gender == "여" && @profile.user.ages == "40-50대"%>
          <%= image_tag("https://cdn.iconscout.com/icon/free/png-256/avatar-369-456321.png", style: "width: 40%") %><br>
        <% elsif @profile.user.gender == "여" && @profile.user.ages == "60대이상"%>
          <%= image_tag("https://cdn.iconscout.com/icon/free/png-256/avatar-377-456329.png", style: "width: 40%") %><br>

        <% elsif @profile.user.gender == "남" && @profile.user.ages == "10대이하"%>
          <%= image_tag("https://cdn.iconscout.com/icon/free/png-256/avatar-370-456322.png") %><br>
        <% elsif @profile.user.gender == "남" && @profile.user.ages == "20-30대"%>
          <%= image_tag("https://cdn.iconscout.com/icon/free/png-256/avatar-380-456332.png", style: "width: 40%") %><br>
        <% elsif @profile.user.gender == "남" && @profile.user.ages == "40-50대"%>
          <%= image_tag("https://cdn.iconscout.com/icon/free/png-256/avatar-372-456324.png", style: "width: 40%") %><br>
        <% elsif @profile.user.gender == "남" && @profile.user.ages == "60대이상"%>
          <%= image_tag("https://cdn.iconscout.com/icon/free/png-256/avatar-376-456328.png", style: "width: 40%") %><br>
        <% end %>
      </p>
    </div>

    <!-- 개인 정보 창 -->
    <div class="col-6">
      <br><br>
      <p style = "font-size: 250%;">  <!-- user name -->
        <strong> <%= @profile.user.name %>님 </strong>
        <%# (<%= @profile.user.nickname%>
      </p>

      <p style = "font-size: 150%;">  <!-- user ages -->
        <strong>연령 : </strong>
        <%= @profile.user.ages %> 
      </p>

      <p style = "font-size: 110%;">  <!-- user allergy -->
        <strong>주의해야 할 음식 : </strong>
        <%# <%= @profile.user.allergy.gsub(',','') %>  
      </p>
      
      <div align="right">
        <% if @profile.user_id != current_user.id%>
        <%= link_to "#{@profile.user.name}에게 쪽지 보내기", 
            conversations_path(sender_id: current_user.id, recipient_id: @profile.user.id), method: "post" %>
        <% end %>
        <%= link_to "쪽지 화면 가기 | ", conversations_path, method: :get, style: "text-decoration: none; color: #454338;"%>
        <%= link_to " Log Out | ", destroy_user_session_path, method: :delete, class:"headerfont", :style=>"text-decoration: none; color: #454338;" %>
        <button class="fill mbutton">  <!-- 수정 버튼 위치 2 -->
          <%= link_to '개인정보 변경', edit_user_registration_path, :style=> "color:black; text-decoration: none;" %>
        </button>
        
      </div>
    </div>
  </div>
</div> <!-- My Page : Close -->



<!-- user activities -->
<hr />  

<div>
  <h3 id="spreadBtn1" class= "jeju" style="text-align:center;"><i id="spreadBtn1" class="fas fa-utensils"></i> <strong>'좋아요'</strong>한 최근 <strong >식당 리스트</strong> <i id="spreadBtn1" class="fas fa-utensils"></i></h3>
  <hr />
    <div id="hiddenList1" class="rounded">
      <div class="row">
            <% @profile.user.following_by_type('Zizuminfo').order("id").limit(8).each do |zizum| %>
              <div class="col-3 jeju"> 
                <% if zizum.followed_by?(@profile.user) %>
                    <%= link_to(image_tag("defaultImg.jpg", class: "round", style: "width: 100%; height:auto"), zizuminfo_path(zizum.id))%>
                     <hr />
                  <div class="row">
                    <div class="col-6" align = left>
                        <%= link_to "#{zizum.restaurant_name}", zizuminfo_path(zizum.id), :style=> "color:black; text-decoration: none; font-size: 150%" %>                    
                    </div>
                    <div class="col-6" align = right>
                        <strong style="font-size: 129%;"> <%= zizum.followers_count %></strong>
                          <%= fa_icon('heart', class: "like icon fa-lg", style: "margin-right: 5%") %>
                    </div>    
                  </div>
                  <div class = "row">
                    <div class="col-9" align = left>
                        <%= link_to "#{zizum.zizum_name}", zizuminfo_path(zizum.id), :style=> "color:black; text-decoration: none; font-size: 105%"%>
                    </div>
                    <div class="col-3" align = right>    
                        <% if @profile.user == current_user %>
                          <%= link_to fa_icon('trash', class: "fa-lg", style: "margin-right: 15%"), profile_follow_destroy_path(zizum.id), data: {confirm: '라이크를 취소하시겠습니까?'} %>
                        <% end %>
                    </div>
                  </div>
                  <hr />
                <% end %>
              </div>
            <% end %>
      </div>
    </div>
    <hr />
</div>

<!-- 내가쓴글관리 본인만 볼수 있게!-->
<% if current_user == @profile.user %>
<div>
  <h3 id="spreadBtn1" class= "jeju" style="text-align:center;"> 내가 쓴 글 </h3>
  <hr/>
    <div id="hiddenList1" class="rounded">
      <div class="row">

        <div class="col-8 jeju"> 
          <% @user_posts.each do |post|%>
            <div class="row">
              <div class="col-6" align = left>
                <%= link_to post.title, post, :style=> "color:black; text-decoration: none; font-size: 120%" %>                    
              </div>
              <div class="col-3" align = right>
                <%= post.created_at %>                    
              </div>
              <div class="col-3" align = right>
                <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }   %>             
              </div>
            </div>
          <% end %>  
        </div>    

        <div class="col-8 jeju"> 
          내가 쓴 총 댓글 수: <%= @user_commentnum %>
        </div>  

      </div>
    </div>
    <hr />
</div>

<div class= "jeju">
  <h3 id="spreadBtn2" style="text-align:center;"> <i id="spreadBtn1" class="fas fa-question-circle"></i> <strong>'수정 요청'</strong> 현황 <strong>확인</strong> <i id="spreadBtn1" class="fas fa-question-circle"></i> </h3>
  <hr />

    <div id="hiddenList2">

      <% i = 0%>
      <% @user_requests.each do |r| %>
      <% i = i + 1%>
      
      <div class="accordion" id="accordionExample">

        <div class="card">

          <div class="card-header" id="heading<%= i %>">
            <h5 class="mb-0">
              <div class= "row">

                <div class= "col-6" align = left>
                <button style="color:black; text-decoration: none; font-size: 115%; margin-top: 2%" class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse<%= i %>" aria-expanded="true" aria-controls="collapse<%= i %>">
                    <%= i %> : <%= r.request_type %> 요청에 대한 현황: <strong><%=r.status%></strong>
                </button>
                </div>

                <div class= "col-6" style="font-size:90%" align = right>
                  <%= r.updated_at.to_s.split(" ").first.split("-").first%>년
                  <%= r.updated_at.to_s.split(" ").first.split("-").second%>월
                  <%= r.updated_at.to_s.split(" ").first.split("-").third%>일 |
                  <%= r.updated_at.to_s.split(" ").second.split("-").first.split(":").first%>시
                  <%= r.updated_at.to_s.split(" ").second.split("-").first.split(":").second%>분
                  <br><br><%= r.restaurant_name%> | <%= r.menu_name%>
                </div>

              </div>

            </h5>
          </div>
<!-- 
          <div id="collapse<%= i %>" class="collapse show" aria-labelledby="heading<%= i %>" data-parent="#accordionExample">
            <div class="card-body">
              <p>식당 : <%= r.restaurant_name%> </p>
              <p>변경 메뉴 : <%= r.menu_name%> </p>
              <% if !r.memo.nil? %>
                <p>메모 내용 : <%= r.memo%> </p>
              <% else %>
              <% end %>
            </div>
          </div>
-->
        </div>

      </div>

      <% end %>
        <p align= right>현재 관리자가 확인 및 수정 절차를 진행하고 있습니다. 통상적으로 1~2주 안에 결과가 반영됩니다. 좋은 의견 항상 감사합니다.    </p>
      <hr />
    </div>
   <% end %> 
  </div>

<script>

    $(document).ready(function(){
      $("#spreadBtn1").click(function(){
          if($("#hiddenList1").is(":visible")){
            // $("#spreadBtn1").toggleClass("fas fa-arrow-alt-circle-right fas fa-arrow-alt-circle-down");
              $("#hiddenList1").slideUp();
          }else{
              // $("#spreadBtn1").toggleClass("fas fa-arrow-alt-circle-down fas fa-arrow-alt-circle-right");
              $("#hiddenList1").slideDown();
          }
      });
    });

    $(document).ready(function(){
      $("#spreadBtn2").click(function(){
          if($("#hiddenList2").is(":visible")){
            // $("#spreadBtn1").toggleClass("fas fa-arrow-alt-circle-right fas fa-arrow-alt-circle-down");
              $("#hiddenList2").slideUp();
          }else{
              // $("#spreadBtn1").toggleClass("fas fa-arrow-alt-circle-down fas fa-arrow-alt-circle-right");
              $("#hiddenList2").slideDown();
          }
      });
    }); 
</script>