<!-- Button Effect & Font Style -->


<style type="text/scss">
  body { font-family: 'Jeju Myeongjo', serif; }
  h1 { font-weight: bold; }
</style>

<!-- <p id="notice"><%= notice %></p> -->

<!-- My Page : Open-->
<body class="jeju">

<!-- <h1 class="jeju" style="text-align: left; font-weight: bold;">My Page</h1> -->
<!--<br> <br>-->

<div class="jeju">
  <div class="row">
    <!-- 프로필 이미지 -->
    <div class="col-6">
      <p align="center">
        <br>
        <% if @profile.user.profileimg.url != nil %>
          <%= image_tag @profile.user.profileimg.url, style: "width: 40%;", class: "img-circle" %> <br> 
        <% elsif @profile.user.gender == "여" && @profile.user.ages == "10대이하"%>
          <%= image_tag("https://cdn.iconscout.com/icon/free/png-256/avatar-379-456331.png", style: "width: 40%") %><br>
        <% elsif @profile.user.gender == "여" && @profile.user.ages == "20-30대"%>
          <%= image_tag("https://cdn.iconscout.com/icon/free/png-256/avatar-373-456325.png", style: "width: 40%") %><br>
        <% elsif @profile.user.gender == "여" && @profile.user.ages == "40-50대"%>
          <%= image_tag("https://cdn.iconscout.com/icon/free/png-256/avatar-369-456321.png", style: "width: 40%") %><br>
        <% elsif @profile.user.gender == "여" && @profile.user.ages == "60대이상"%>
          <%= image_tag("https://cdn.iconscout.com/icon/free/png-256/avatar-377-456329.png", style: "width: 40%") %><br>

        <% elsif @profile.user.gender == "남" && @profile.user.ages == "10대이하"%>
          <%= image_tag("https://cdn.iconscout.com/icon/free/png-256/avatar-370-456322.png") %><br>
        <% elsif @profile.user.gender == "남" && @profile.user.ages == "20-30대"%>
          <%= image_tag("https://cdn.iconscout.com/icon/free/png-256/avatar-380-456332.png", style: "width: 40%") %><br>
        <% elsif @profile.user.gender == "남" && @profile.user.ages == "40-50대"%>
          <%= image_tag("https://cdn.iconscout.com/icon/free/png-256/avatar-372-456324.png", style: "width: 40%") %><br>
        <% elsif @profile.user.gender == "남" && @profile.user.ages == "60대이상"%>
          <%= image_tag("https://cdn.iconscout.com/icon/free/png-256/avatar-376-456328.png", style: "width: 40%") %><br>
        <% end %>
      </p>
    </div>

    <!-- 개인 정보 창 -->
    <div class="col-6">
      <br><br>
      <p style = "font-size: 250%;">  <!-- user name -->
        <strong> <%= @profile.user.name %>님 </strong>
        <%# (<%= @profile.user.nickname%>
      </p>

      <p style = "font-size: 150%;">  <!-- user ages -->
        <strong>연령 : </strong>
        <%= @profile.user.ages %> 
      </p>

      <p style = "font-size: 110%;">  <!-- user allergy -->
        <strong>주의해야 할 음식 : </strong>
        <%= @profile.user.allergy.gsub(',','') %> 
      </p>
      
      <div align="right">
        <%= link_to "Log Out", destroy_user_session_path, method: :delete, class:"headerfont", :style=>"text-decoration: none; color: #454338;" %>
        <button class="fill mbutton">  <!-- 수정 버튼 위치 2 -->
          <%= link_to '개인정보 변경', edit_user_registration_path, :style=> "color:black; text-decoration: none;" %>
        </button>
        
      </div>
    </div>
  </div>
</div> <!-- My Page : Close -->



<!-- user activities -->
<hr />  

<div>
  <h3 id="spreadBtn1" class= "jeju" style="text-align:center;"><i id="spreadBtn1" class="fas fa-utensils"></i> <strong>'좋아요'</strong>한 최근 <strong >식당 리스트</strong> <i id="spreadBtn1" class="fas fa-utensils"></i></h3>
  <hr />
    <div id="hiddenList1" class="rounded">
      <div class="row">
            <% @profile.user.following_by_type('Zizuminfo').order("id").limit(8).each do |zizum| %>
              <div class="col-3 jeju"> 
                <% if zizum.followed_by?(@profile.user) %>
                    <%= link_to(image_tag("defaultImg.jpg", class: "round", style: "width: 100%; height:auto"), zizuminfo_path(zizum.id))%>
                     <hr />
                  <div class="row">
                    <div class="col-6" align = left>
                        <%= link_to "#{zizum.restaurant_name}", zizuminfo_path(zizum.id), :style=> "color:black; text-decoration: none; font-size: 150%" %>                    
                    </div>
                    <div class="col-6" align = right>
                        <strong style="font-size: 129%;"> <%= zizum.followers_count %></strong>
                          <%= fa_icon('heart', class: "like icon fa-lg", style: "margin-right: 5%") %>
                    </div>    
                  </div>
                  <div class = "row">
                    <div class="col-9" align = left>
                        <%= link_to "#{zizum.zizum_name}", zizuminfo_path(zizum.id), :style=> "color:black; text-decoration: none; font-size: 105%"%>
                    </div>
                    <div class="col-3" align = right>    
                        <% if @profile.user == current_user %>
                          <%= link_to fa_icon('trash', class: "fa-lg", style: "margin-right: 15%"), profile_follow_destroy_path(zizum.id), data: {confirm: '라이크를 취소하시겠습니까?'} %>
                        <% end %>
                    </div>
                  </div>
                  <hr />
                <% end %>
              </div>
            <% end %>
      </div>
    </div>
    <hr />
</div>

<!-- 내가쓴글관리 본인만 볼수 있게!-->
<% if current_user == @profile.user %>
<div>
  <h3 id="spreadBtn1" class= "jeju" style="text-align:center;"> 내가 쓴 글 </h3>
  <hr/>
    <div id="hiddenList1" class="rounded">
      <div class="row">

        <div class="col-8 jeju"> 
          <% @user_posts.each do |post|%>
            <div class="row">
              <div class="col-6" align = left>
                <%= link_to post.title, post, :style=> "color:black; text-decoration: none; font-size: 120%" %>                    
              </div>
              <div class="col-3" align = right>
                <%= post.created_at %>                    
              </div>
              <div class="col-3" align = right>
                <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }   %>             
              </div>
            </div>
          <% end %>  
        </div>    

        <div class="col-8 jeju"> 
          내가 쓴 총 댓글 수: <%= @user_commentnum %>
        </div>  

      </div>
    </div>
    <hr />
</div>

<div class= "jeju">
  <h3 id="spreadBtn2" style="text-align:center;"> <i id="spreadBtn1" class="fas fa-question-circle"></i> <strong>'수정 요청'</strong> 현황 <strong>확인</strong> <i id="spreadBtn1" class="fas fa-question-circle"></i> </h3>
  <hr />

    <div id="hiddenList2">

      <% i = 0%>
      <% @user_requests.each do |r| %>
      <% i = i + 1%>
      
      <div class="accordion" id="accordionExample">

        <div class="card">

          <div class="card-header" id="heading<%= i %>">
            <h5 class="mb-0">
              <div class= "row">

                <div class= "col-6" align = left>
                <button style="color:black; text-decoration: none; font-size: 115%; margin-top: 2%" class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse<%= i %>" aria-expanded="true" aria-controls="collapse<%= i %>">
                    <%= i %> : <%= r.request_type %> 요청에 대한 현황: <strong><%=r.status%></strong>
                </button>
                </div>

                <div class= "col-6" style="font-size:90%" align = right>
                  <%= r.updated_at.to_s.split(" ").first.split("-").first%>년
                  <%= r.updated_at.to_s.split(" ").first.split("-").second%>월
                  <%= r.updated_at.to_s.split(" ").first.split("-").third%>일 |
                  <%= r.updated_at.to_s.split(" ").second.split("-").first.split(":").first%>시
                  <%= r.updated_at.to_s.split(" ").second.split("-").first.split(":").second%>분
                  <br><br><%= r.restaurant_name%> | <%= r.menu_name%>
                </div>

              </div>

            </h5>
          </div>
<!-- 
          <div id="collapse<%= i %>" class="collapse show" aria-labelledby="heading<%= i %>" data-parent="#accordionExample">
            <div class="card-body">
              <p>식당 : <%= r.restaurant_name%> </p>
              <p>변경 메뉴 : <%= r.menu_name%> </p>
              <% if !r.memo.nil? %>
                <p>메모 내용 : <%= r.memo%> </p>
              <% else %>
              <% end %>
            </div>
          </div>
-->
        </div>

      </div>

      <% end %>
        <p align= right>현재 관리자가 확인 및 수정 절차를 진행하고 있습니다. 통상적으로 1~2주 안에 결과가 반영됩니다. 좋은 의견 항상 감사합니다.    </p>
      <hr />
    </div>
   <% end %> 
  </div>

<script>

    $(document).ready(function(){
      $("#spreadBtn1").click(function(){
          if($("#hiddenList1").is(":visible")){
            // $("#spreadBtn1").toggleClass("fas fa-arrow-alt-circle-right fas fa-arrow-alt-circle-down");
              $("#hiddenList1").slideUp();
          }else{
              // $("#spreadBtn1").toggleClass("fas fa-arrow-alt-circle-down fas fa-arrow-alt-circle-right");
              $("#hiddenList1").slideDown();
          }
      });
    });

    $(document).ready(function(){
      $("#spreadBtn2").click(function(){
          if($("#hiddenList2").is(":visible")){
            // $("#spreadBtn1").toggleClass("fas fa-arrow-alt-circle-right fas fa-arrow-alt-circle-down");
              $("#hiddenList2").slideUp();
          }else{
              // $("#spreadBtn1").toggleClass("fas fa-arrow-alt-circle-down fas fa-arrow-alt-circle-right");
              $("#hiddenList2").slideDown();
          }
      });
    }); 
</script>