<%= form_tag(menus_path, method: :get) do %>
    <div class="ziyuk d-flex search-row search-s-row">
        <div class="search-box-th s-th-find">찾기</div>
        <div class="s-td-find d-flex">
            <div class="sido">
            <%#= select :sido, options_for_select([["서울특별시", "서울특별시"], ["부산광역시","부산광역시"], ["대구광역시","대구광역시"],["60대이상","60대이상"]]) %>  
                <select name="sido" class="custom-sido options sido-select selectcss">
                    <option value="전체" class="sido-opt">시・도 찾기</option>
                    <option value="서울특별시" class="sido-opt">서울특별시</option>
                    <option value="부산광역시" class="sido-opt">부산광역시</option>
                    <option value="대구광역시" class="sido-opt">대구광역시</option> 
                    <option value="인천광역시" class="sido-opt">인천광역시</option>     
                    <option value="광주광역시" class="sido-opt">광주광역시</option>
                    <option value="대전광역시" class="sido-opt">대전광역시</option>
                    <option value="세종특별자치시" class="sido-opt">세종특별자치시</option> 
                    <option value="경기도" class="sido-opt">경기도</option>
                    <option value="강원도" class="sido-opt">강원도</option>
                    <option value="충청북도" class="sido-opt">충청북도</option>
                    <option value="충청남도" class="sido-opt">충청남도</option> 
                    <option value="전라북도" class="sido-opt">전라북도</option>
                    <option value="전라남도" class="sido-opt">전라남도</option>
                    <option value="경상북도" class="sido-opt">경상북도</option>
                    <option value="경상남도" class="sido-opt">경상남도</option> 
                    <option value="제주특별자치시" class="sido-opt">제주특별자치시</option>
                </select>
            </div>

            <div class="sigungu">
                    <select name="sigungu" class="custom-sigungu sigungu-select options selectcss">
                    <%# default 값 %>
                        <option value="전체" class="sigungu-opt">시・군・구 찾기</option>
                    </select>
            </div>
        </div>
    </div>

    <div class="search-row search-t-row d-flex">
        <div class="search-box-th s-th-sort">분류</div>
        <div class="s-td-sort allergy-check">
            <div class="allergy-table-row d-flex">
                <div class=" allergy-cp allergy-cp-custom" id="a9_c"><%=image_tag("egg.png", class:"allergy-cp-img")%><div class="allergy-cp-name">난류</div></div>
                <div class=" allergy-cp allergy-cp-custom" id="a10_c"><%=image_tag("milk.png", class:"allergy-cp-img")%><div class="allergy-cp-name">우유</div></div>
                <div class=" allergy-cp allergy-cp-custom" id="a6_c"><%=image_tag("peach.png", class:"allergy-cp-img")%><div class="allergy-cp-name">복숭아</div></div>
                <div class=" allergy-cp allergy-cp-custom" id="a7_c"><%=image_tag("tomato.png", class:"allergy-cp-img")%><div class="allergy-cp-name">토마토</div></div>
                <div class=" allergy-cp allergy-cp-custom" id="a1_c"><%=image_tag("maemil.png", class:"allergy-cp-img")%><div class="allergy-cp-name">메밀</div></div>
                <div class=" allergy-cp allergy-cp-custom" id="a2_c"><%=image_tag("wheat.png", class:"allergy-cp-img")%><div class="allergy-cp-name">밀</div></div>
                <div class=" allergy-cp allergy-cp-custom" id="a3_c"><%=image_tag("bean.png", class:"allergy-cp-img")%><div class="allergy-cp-name">대두(콩)</div></div>
                <div class=" allergy-cp allergy-cp-custom" id="a11_c"><%=image_tag("chicken.png", class:"allergy-cp-img")%><div class="allergy-cp-name">닭고기</div></div>
                <div class=" allergy-cp allergy-cp-custom" id="a12_c"><%=image_tag("beef.png", class:"allergy-cp-img")%><div class="allergy-cp-name">쇠고기</div></div>
                <div class=" allergy-cp allergy-cp-custom" id="a8_c"><%=image_tag("pork.png", class:"allergy-cp-img")%><div class="allergy-cp-name">돼지고기</div></div>
                <div class=" allergy-cp allergy-cp-custom" id="a13_c"><%=image_tag("shrimp.png", class:"allergy-cp-img")%><div class="allergy-cp-name">새우</div></div>
                <div class=" allergy-cp allergy-cp-custom" id="a14_c"><%=image_tag("fish.png", class:"allergy-cp-img")%><div class="allergy-cp-name">고등어</div></div>
                <div class=" allergy-cp allergy-cp-custom" id="a15_c"><%=image_tag("mussel.png", class:"allergy-cp-img")%><div class="allergy-cp-name">홍합</div></div>
                <div class=" allergy-cp allergy-cp-custom" id="a16_c"><%=image_tag("clam(2).png", class:"allergy-cp-img")%><div class="allergy-cp-name">전복</div></div>
                <div class=" allergy-cp allergy-cp-custom" id="a17_c"><%=image_tag("sea-shell.png", class:"allergy-cp-img")%><div class="allergy-cp-name">굴</div></div>
                <div class=" allergy-cp allergy-cp-custom" id="a18_c"><%=image_tag("clam.png", class:"allergy-cp-img")%><div class="allergy-cp-name">조개류</div></div>
                <div class=" allergy-cp allergy-cp-custom" id="a19_c"><%=image_tag("crab.png", class:"allergy-cp-img")%><div class="allergy-cp-name">게</div></div>
                <div class=" allergy-cp allergy-cp-custom" id="a20_c"><%=image_tag("squid.png", class:"allergy-cp-img")%><div class="allergy-cp-name">오징어</div></div>
                <div class=" allergy-cp allergy-cp-custom" id="a4_c"><%=image_tag("walnut.png", class:"allergy-cp-img")%><div class="allergy-cp-name">호두</div></div>
                <div class=" allergy-cp allergy-cp-custom" id="a5_c"><%=image_tag("peanut.png", class:"allergy-cp-img")%><div class="allergy-cp-name">땅콩</div></div>
                <div class=" allergy-cp allergy-cp-custom" id="a21_c"><%=image_tag("cubes.png", class:"allergy-cp-img")%><div class="allergy-cp-name">아황산류</div></div>
            </div>

            <div class="temp-custom">
                <%= check_box_tag :a9_nanryu, true, current_user.allergy.include?('난류'), id:"a9_nanryu_c"%> 난류<br>
                <%= check_box_tag :a10_milk, true, current_user.allergy.include?('우유'), id:"a10_milk_c"%> 우유<br>
                <%= check_box_tag :a6_peach, true, current_user.allergy.include?('복숭아'), id:"a6_peach_c"%> 복숭아<br>
                <%= check_box_tag :a7_tomato, true, current_user.allergy.include?('토마토'), id:"a7_tomato_c"%> 토마토<br>
                <%= check_box_tag :a1_maemil, true, current_user.allergy.include?('메밀'), id:"a1_maemil_c"%> 메밀<br>
                <%= check_box_tag :a2_mil, true, current_user.allergy.include?('밀'),id:"a2_mil_c"%> 밀<br>
                <%= check_box_tag :a3_daedu, true, current_user.allergy.include?('대두(콩)'),id:"a3_daedu_c"%> 대두(콩)<br>
                <%= check_box_tag :a11_ddakgogi, true, current_user.allergy.include?('닭고기'), id:"a11_ddakgogi_c"%> 닭고기<br>
                <%= check_box_tag :a12_shoigogi, true, current_user.allergy.include?('쇠고기'), id:"a12_shoigogi_c"%> 쇠고기<br>
                <%= check_box_tag :a8_piggogi, true, current_user.allergy.include?('돼지고기'), id:"a8_piggogi_c"%> 돼지고기<br>
                <%= check_box_tag :a13_saewoo, true, current_user.allergy.include?('새우'), id:"a13_saewoo_c"%> 새우<br>
                <%= check_box_tag :a14_godeungeoh, true, current_user.allergy.include?('고등어'), id:"a14_godeungeoh_c"%> 고등어<br>
                <%= check_box_tag :a15_honghap, true, current_user.allergy.include?('홍합'), id:"a15_honghap_c"%> 홍합<br>
                <%= check_box_tag :a16_junbok, true, current_user.allergy.include?('전복'), id:"a16_junbok_c"%> 전복<br>
                <%= check_box_tag :a17_gul, true, current_user.allergy.include?('굴'), id:"a17_gul_c"%> 굴<br>
                <%= check_box_tag :a18_jogaeryu, true, current_user.allergy.include?('조개류'), id:"a18_jogaeryu_c"%> 조개류<br>
                <%= check_box_tag :a19_gye, true, current_user.allergy.include?('게'), id:"a19_gye_c"%> 게<br>
                <%= check_box_tag :a20_ohjingeoh, true, current_user.allergy.include?('오징어'), id:"a20_ohjingeoh_c"%> 오징어<br>
                <%= check_box_tag :a4_hodu, true, current_user.allergy.include?('호두'), id:"a4_hodu_c" %> 호두<br>
                <%= check_box_tag :a5_ddangkong, true, current_user.allergy.include?('땅콩'), id:"a5_ddangkong_c"%> 땅콩<br>
                <%= check_box_tag :a21_ahwangsan, true, current_user.allergy.include?('아황산류'), id:"a21_ahwangsan_c"%> 아황산류<br>
            </div>
            
        </div>

    </div>
    
    <div class="search-submit">
        <div id="custom" class="custom-btn custom-btn-custom" data-toggle="modal" data-target="#loginModal">
            <div class="ct">되돌리기</div>
        </div>

        <%# button 말고 div 로 할 시에 검색 안됨 %>
        <button type="submit" class="a-submit">
            검색하기
        </button>
    </div>
<%end %>