    <%#= select :sido, options_for_select([["서울특별시", "서울특별시"], ["부산광역시","부산광역시"], ["대구광역시","대구광역시"],["60대이상","60대이상"]]) %> 
    <div class="original-check">
        <%= form_tag(menus_path, method: :get) do %>
        <div class="ziyuk d-flex">
            <div class="sido">
            <%#= select :sido, options_for_select([["서울특별시", "서울특별시"], ["부산광역시","부산광역시"], ["대구광역시","대구광역시"],["60대이상","60대이상"]]) %>  
                <select name="sido" class="origin-sido sido-select options selectcss">
                    <option value="전체" class="sido-opt">--시/도--</option>
                    <option value="서울특별시" class="sido-opt">서울특별시</option>
                    <option value="부산광역시" class="sido-opt">부산광역시</option>
                    <option value="대구광역시" class="sido-opt">대구광역시</option> 
                    <option value="인천광역시" class="sido-opt">인천광역시</option>     
                    <option value="광주광역시" class="sido-opt">광주광역시</option>
                    <option value="대전광역시" class="sido-opt">대전광역시</option>
                    <option value="세종특별자치시" class="sido-opt">세종특별자치시</option> 
                    <option value="경기도" class="sido-opt">경기도</option>
                    <option value="강원도" class="sido-opt">강원도</option>
                    <option value="충청북도" class="sido-opt">충청북도</option>
                    <option value="충청남도" class="sido-opt">충청남도</option> 
                    <option value="전라북도" class="sido-opt">전라북도</option>
                    <option value="전라남도" class="sido-opt">전라남도</option>
                    <option value="경상북도" class="sido-opt">경상북도</option>
                    <option value="경상남도" class="sido-opt">경상남도</option> 
                    <option value="제주특별자치시" class="sido-opt">제주특별자치시</option>
                </select>
            </div>

    
            <div class="sigungu">
                    <select name="sigungu" class="origin-sigungu sigungu-select options selectcss">
                    <%# default 값 %>
                    <option value="전체" class="sigungu-opt">--전체선택--</option>
                    </select>
            </div>
        </div>
        <br>
        <div class="d-flex justify-content-between">
            <div>
                <div class="a-type"><div class="d-flex typebox justify-content-around"><div class="typename">유제품 및 난류</div><i class="downic fas fa-caret-down"></i></div></div>
                <div class="allergy-check">
                    <%= check_box_tag :a9_nanryu, true, checked = params[:a9_nanryu]%> 난류<br>
                    <%= check_box_tag :a10_milk, true, checked = params[:a10_milk]%> 우유<br>
                </div>
            </div>

            <div>
                <div class="a-type"><div class="d-flex typebox justify-content-around"><div class="typename">과채류 및 곡류</div><i class="downic fas fa-caret-down"></i></div></div>
                <div class="allergy-check">
                    <%= check_box_tag :a6_peach, true, checked = params[:a6_peach]%> 복숭아<br>
                    <%= check_box_tag :a7_tomato, true, checked = params[:a7_tomato]%> 토마토<br>
                    <%= check_box_tag :a1_maemil, true, checked = params[:a6_peach]%> 메밀<br>
                    <%= check_box_tag :a2_mil, true, checked = params[:a2_mil]%> 밀<br>
                    <%= check_box_tag :a3_daedu, true, checked = params[:a3_daedu]%> 대두(콩)<br>
                </div>
            </div>

            <div>
                <div class="a-type"><div class="d-flex typebox justify-content-around"><div class="typename">육류</div><i class="downic fas fa-caret-down"></i></div></div>
                <div class="allergy-check">
                    <%= check_box_tag :a11_ddakgogi, true, checked = params[:a11_ddakgogi]%> 닭고기<br>
                    <%= check_box_tag :a12_shoigogi, true, checked = params[:a12_shoigogi]%> 쇠고기<br>
                    <%= check_box_tag :a8_piggogi, true, checked = params[:a8_piggogi]%> 돼지고기<br>
                </div>
            </div>

            <div>
                <div class="a-type"><div class="d-flex typebox justify-content-around"><div class="typename">어패류</div><i class="downic fas fa-caret-down"></i></div></div>
                <div class="allergy-check d-flex">
                    <div>
                        <%= check_box_tag :a13_saewoo, true, checked = params[:a13_saewoo]%> 새우<br>
                        <%= check_box_tag :a14_godeungeoh, true, checked = params[:a14_godeungeoh]%> 고등어<br>
                        <%= check_box_tag :a15_honghap, true, checked = params[:a15_honghap]%> 홍합<br>
                        <%= check_box_tag :a16_junbok, true, checked = params[:a16_junbok]%> 전복<br>
                    </div>
                    <div class="fish2">
                        <%= check_box_tag :a17_gul, true, checked = params[:a17_gul]%> 굴<br>
                        <%= check_box_tag :a18_jogaeryu, true, checked = params[:a18_jogaeryu]%> 조개류<br>
                        <%= check_box_tag :a19_gye, true, checked = params[:a19_gye]%> 게<br>
                        <%= check_box_tag :a20_ohjingeoh, true, checked = params[:a20_ohjingeoh]%> 오징어<br>
                    </div>
                </div>
            </div>

            <div>
                <div class="a-type"><div class="d-flex typebox justify-content-around"><div class="typename">과류, 아황산 등</div><i class="downic fas fa-caret-down"></i></div></div>
                <div class="allergy-check">
                    <%= check_box_tag :a4_hodu, true, checked = params[:a4_hodu]%> 호두<br>
                    <%= check_box_tag :a5_ddangkong, true, checked = params[:a5_ddangkong]%> 땅콩<br>
                    <%= check_box_tag :a21_ahwangsan, true, checked = params[:a21_ahwangsan]%> 아황산류<br>
                </div>
            </div>
            <button type="submit" class="a-submit">
                Search<i class="fas fa-search"></i>
            </button>
        </div>
    <%end%>
</div>

<%if user_signed_in?%>
    <div id="myinfo" class="getinfo">
        <%= render partial: 'custom' %>
    </div>
<%end%>

<button id="custom" class="mbutton fill" data-toggle="modal" data-target="#loginModal"><div id="ct" style="color:black; text-decoration: none;">내 알러지정보 불러오기</div></button>

<%# 로그인 하지 않았을 때 custom 기능 누르면 modal view 뜨도록 %>
<%if !user_signed_in?%>
    <%= render 'layouts/loginModal'%>
<%end%>