<%# ------------재검색 끝끝끝----------------------------------------------------------------------------- %>
<br>
<div class="num_res"><strong><i class="fas fa-utensils"></i><%=params[:sido]%>/<%=params[:sigungu]%></strong>-<%=@zizums.length%>개 결과</div>

<% if @zizums.length == 0%>
    <p><%=params[:sido]%>/<%=params[:sigungu]%>가 일치하지 않는 시군구이거나 해당 식당이 없습니다.<br>다시 검색해주세요
    <br><%= link_to '알레르기 검색', menus_search_path %><br></p>
<% else %>
    <div class="d-flex justify-content-around">
        <div class="shops">
            <% @zizums.each do |zizum| %>
                <div class="card shop-card">
                    <div class="card-body">
                        <%# ajax로 전송할 레스토랑 이름%>
                        <h3 class="seeMenu"><%= zizum.restaurant_name%></h3>
                        <h3 class="zizumName"><%= zizum.zizum_name%></h3>
                        <%# display:none 하고 옆으로 메뉴 띄울 것임%>
                        <div class="hideMenu">
                            <% @menus.where(:restaurant_name => zizum.restaurant_name).each do |menu|%>
                                <strong><i class="fas fa-utensil-spoon"></i><%=menu.menu_name%></strong><br>
                                <strong>--제공되지 않은 알러지항목:</strong>
                                <%if menu.a1_maemil == -1 %>메밀 <%end%>
                                <%if menu.a2_mil == -1%>밀<%end%>
                                <%if menu.a3_daedu == -1%>대두<%end%>
                                <%if menu.a4_hodu == -1%>호두<%end%>
                                <%if menu.a5_ddangkong == -1%>땅콩<%end%>
                                <%if menu.a6_peach == -1%>복숭아<%end%>
                                <%if menu.a7_tomato == -1%>토마토<%end%>
                                <%if menu.a8_piggogi == -1%>돼지고기<%end%>
                                <%if menu.a9_nanryu == -1%>난류<%end%>
                                <%if menu.a10_milk == -1%>우유<%end%>
                                <%if menu.a11_ddakgogi == -1%>닭고기<%end%>
                                <%if menu.a12_shoigogi == -1%>쇠고기<%end%>
                                <%if menu.a13_saewoo == -1%>새우<%end%>
                                <%if menu.a14_godeungeoh == -1%>고등어<%end%>
                                <%if menu.a15_honghap == -1%>홍합<%end%>
                                <%if menu.a16_junbok == -1%>전복<%end%>
                                <%if menu.a17_gul == -1%>굴<%end%>
                                <%if menu.a18_jogaeryu == -1%>조개류<%end%>
                                <%if menu.a19_gye == -1%>게<%end%>
                                <%if menu.a20_ohjingeoh == -1%>오징어<%end%>
                                <%if menu.a21_ahwangsan == -1%>아황산류<%end%>
                                <br>
                                <strong>--교차 위험군:</strong>
                                <% if menu.a1_maemil == -2 %>메밀 <%end%>
                                <%if menu.a2_mil == -2%>밀<%end%>
                                <%if menu.a3_daedu == -2%>대두<%end%>
                                <%if menu.a4_hodu == -2%>호두<%end%>
                                <%if menu.a5_ddangkong == -2%>땅콩<%end%>
                                <%if menu.a6_peach == -2%>복숭아<%end%>
                                <%if menu.a7_tomato == -2%>토마토<%end%>
                                <%if menu.a8_piggogi == -2%>돼지고기<%end%>
                                <%if menu.a9_nanryu == -2%>난류<%end%>
                                <%if menu.a10_milk == -2%>우유<%end%>
                                <%if menu.a11_ddakgogi == -2%>닭고기<%end%>
                                <%if menu.a12_shoigogi == -2%>쇠고기<%end%>
                                <%if menu.a13_saewoo == -2%>새우<%end%>
                                <%if menu.a14_godeungeoh == -2%>고등어<%end%>
                                <%if menu.a15_honghap == -2%>홍합<%end%>
                                <%if menu.a16_junbok == -2%>전복<%end%>
                                <%if menu.a17_gul == -2%>굴<%end%>
                                <%if menu.a18_jogaeryu == -2%>조개류<%end%>
                                <%if menu.a19_gye == -2%>게<%end%>
                                <%if menu.a20_ohjingeoh == -2%>오징어<%end%>
                                <%if menu.a21_ahwangsan == -2%>아황산류<%end%>
                                <br><br>
                            <% end%>
                        </div>
                        <p class="card-text"><%=zizum.sigungu%>, <%=zizum.sangse_juso%></p>
                        <p class="card-text"><%=link_to '식당상세페이지',zizuminfo_path(id: zizum.id)%></p>
                      
                    </div>
                </div>
            <% end %>
        </div>
        <%# 해당 메뉴가 뜨는 자리. %>
        <div id="menuBox">
        (해당 메뉴 뜨는 자리) 
        즐거운 한끼식사 걱정없식
        </div>
    </div>

<%end%>
</div>
<%#= link_to 'New Menu', new_menu_path%>
<script>

    $(".card-body").click(function() {
        $("#menuBox").html($(this).children(".seeMenu").siblings('.hideMenu').html());
  
    });





 

  
</script>

