<%# ------------재검색 끝끝끝----------------------------------------------------------------------------- %>
<br>
<%if params[:sigungu]==""%>
    <div class="num_res"><strong><i class="fas fa-utensils"></i><%=params[:sido]%>/전체</strong>-<%=@zizums.length%>개 결과</div>
<%else%>
    <div class="num_res"><strong><i class="fas fa-utensils"></i><%=params[:sido]%>/<%=params[:sigungu]%></strong>-<%=@zizums.length%>개 결과</div>
<%end%>

<%# 재검색 부분 %>
<%= render partial: "rebrowse"%>


<% if @zizums.length == 0%>
    <p><%=params[:sido]%>/<%=params[:sigungu]%>에 해당 식당이 없습니다.<br>다시 검색해주세요
    <br><%= link_to '알레르기 검색', menus_search_path %><br></p>
<% else %>

<%# <div class="zizumOrder">
    <button type="button" class="btn btn-outline-dark btn-default-order">가나다순</button>
    <button type="button" class="btn btn-outline-dark btn-famous-order">인기순</button>
</div> %>


<div class="d-flex justify-content-around">
    <div class="shops">
        <% @zizums.each do |zizum| %>
            <div class="card shop-card">
                <div class="card-body">
                    <%# ajax로 전송할 레스토랑 이름%>
                    <h3 class="seeMenu"><%= zizum.restaurant_name%></h3>
                    <h3 class="zizumName"><%= zizum.zizum_name%></h3>
                    <%# display:none 하고 옆으로 메뉴 띄울 것임%>
                    <div class="hideMenu">
                        <% @menus.where(:restaurant_name => zizum.restaurant_name).each do |menu|%>
                            <strong><i class="fas fa-utensil-spoon"></i><%=menu.menu_name%></strong><br>
                            <strong>--제공되지 않은 알러지항목:</strong>
                            <%if menu.a1_maemil == -1 %>메밀 <%end%>
                            <%if menu.a2_mil == -1%>밀<%end%>
                            <%if menu.a3_daedu == -1%>대두<%end%>
                            <%if menu.a4_hodu == -1%>호두<%end%>
                            <%if menu.a5_ddangkong == -1%>땅콩<%end%>
                            <%if menu.a6_peach == -1%>복숭아<%end%>
                            <%if menu.a7_tomato == -1%>토마토<%end%>
                            <%if menu.a8_piggogi == -1%>돼지고기<%end%>
                            <%if menu.a9_nanryu == -1%>난류<%end%>
                            <%if menu.a10_milk == -1%>우유<%end%>
                            <%if menu.a11_ddakgogi == -1%>닭고기<%end%>
                            <%if menu.a12_shoigogi == -1%>쇠고기<%end%>
                            <%if menu.a13_saewoo == -1%>새우<%end%>
                            <%if menu.a14_godeungeoh == -1%>고등어<%end%>
                            <%if menu.a15_honghap == -1%>홍합<%end%>
                            <%if menu.a16_junbok == -1%>전복<%end%>
                            <%if menu.a17_gul == -1%>굴<%end%>
                            <%if menu.a18_jogaeryu == -1%>조개류<%end%>
                            <%if menu.a19_gye == -1%>게<%end%>
                            <%if menu.a20_ohjingeoh == -1%>오징어<%end%>
                            <%if menu.a21_ahwangsan == -1%>아황산류<%end%>
                            <br>
                            <strong>--교차 위험군:</strong>
                            <% if menu.a1_maemil == -2 %>메밀 <%end%>
                            <%if menu.a2_mil == -2%>밀<%end%>
                            <%if menu.a3_daedu == -2%>대두<%end%>
                            <%if menu.a4_hodu == -2%>호두<%end%>
                            <%if menu.a5_ddangkong == -2%>땅콩<%end%>
                            <%if menu.a6_peach == -2%>복숭아<%end%>
                            <%if menu.a7_tomato == -2%>토마토<%end%>
                            <%if menu.a8_piggogi == -2%>돼지고기<%end%>
                            <%if menu.a9_nanryu == -2%>난류<%end%>
                            <%if menu.a10_milk == -2%>우유<%end%>
                            <%if menu.a11_ddakgogi == -2%>닭고기<%end%>
                            <%if menu.a12_shoigogi == -2%>쇠고기<%end%>
                            <%if menu.a13_saewoo == -2%>새우<%end%>
                            <%if menu.a14_godeungeoh == -2%>고등어<%end%>
                            <%if menu.a15_honghap == -2%>홍합<%end%>
                            <%if menu.a16_junbok == -2%>전복<%end%>
                            <%if menu.a17_gul == -2%>굴<%end%>
                            <%if menu.a18_jogaeryu == -2%>조개류<%end%>
                            <%if menu.a19_gye == -2%>게<%end%>
                            <%if menu.a20_ohjingeoh == -2%>오징어<%end%>
                            <%if menu.a21_ahwangsan == -2%>아황산류<%end%>
                            <br><br>
                        <% end%>
                    </div>
                    <p class="card-text"><%=zizum.sigungu%>, <%=zizum.sangse_juso%></p>
                    <p class="card-text"><%=link_to '식당상세페이지',zizuminfo_path(id: zizum.id)%></p>

                    <%if user_signed_in?%>
                        <% if zizum.followed_by?(current_user) %>
                            <!-- 좋아요를 했다면 -->
                            <i class="fa fa-heart like like-icon icon"></i>
                            <div class="zizum-id-like"><%=zizum.id%></div>
                            
                        <% else %>
                            <!-- 좋아요를 안 했다면 -->
                            <i class="fa fa-heart unlike like-icon icon"></i>
                            <div class="zizum-id-like"><%=zizum.id%></div>
                            
                        <% end %>
                    <%else%>
                    <i class="fa fa-heart unlike like-icon icon" data-toggle="modal" data-target="#loginModal"></i>
                    <%end%>
                    
                </div>
            </div>
        <% end %>
    </div>
    <%# 해당 메뉴가 뜨는 자리. %>
    <div id="menuBox">
    (해당 메뉴 뜨는 자리) 
    즐거운 한끼식사 걱정없식
    </div>
</div>
<%end%>
</div>

<%if !user_signed_in?%>
        <%= render 'layouts/loginModal'%>
<%end%>
<%#= link_to 'New Menu', new_menu_path%>



<script>

    //첫 시작
    $(".sido-select").val('<%=params[:sido]%>');
    $(".sigungu-select").val('<%=params[:sigungu]%>');
    //처음 지역 채우기 끝

    $(".card-body").click(function() {
        $("#menuBox").html($(this).children(".seeMenu").siblings('.hideMenu').html());
    });

   
    //ajax 좋아요 구현
    if('<%=user_signed_in?%>'==="true"){
        $(".like-icon").click(function(){
            $zizumid = $(this).siblings("div.zizum-id-like").html();
            $likeicon = $(this);
            $.ajax({
                async : true,
                data : {id: $zizumid},
                type : "GET",
                url : "/follows/zizumfollow",
                success : function(data){
                    followType = data["follow"];
                    console.log("이제"+data["zizumid"]+"를 follow"+followType);
                    
                    //followType 은 좋아요 버튼 누른 후의 status
                    if (followType === false) //follow하고 있다면
                    {
                        console.log("follow 하고 있으니까 이제 안할거야");
                        $likeicon.removeClass("like");
                        $likeicon.addClass("unlike");
                    }
                    else if (followType === true)
                    {
                         console.log("follow 안하고 있으니까 이제 할거야");
                        $likeicon.removeClass("unlike");
                        $likeicon.addClass("like");
                    }    
                }
            })
        });
    }

    var sigungu;
    var sigungu_length;


  $(".sido-select").click(function() {
        var sido = $(this).val();
        
        $.ajax({
            async : true,
            data : {sido : sido},
            type : "GET",
            url : "getGungu",
            success : function(data){
                
                sigungu = data["sigungu_name"];
                if(sido != "전체"){
                    sigungu_length = Object.keys(sigungu).length;
                    var options = '';
                    options += '<option value="' +"전체"+ '">' + "--전체선택--" + '</option>';
                    for (var i = 0; i <sigungu_length; i++) {
                        options += '<option value="' + sigungu[i]+'"'+'class='+'"sigungu-opt"'+'>' + sigungu[i] + '</option>';
                    }

                    $(".sigungu-select").html(options);
                }

            }
        })
    });

  if('<%=user_signed_in?%>'=="true"){
    $("#custom").click(function(){
            if( $(this).children("#ct").html() == "내 알러지정보 불러오기")
            {   
                $(".original-check").addClass("getinfo");
                $("#myinfo").removeClass("getinfo");
                $(".allergy-check").css('visibility','visible');
            
                $(this).children("#ct").html("되돌리기");
                
                $(".custom-sido").val($(".origin-sido").val());
                $(".custom-sigungu").val($(".origin-sigungu").val());
                
            }
            else
            {
                $(".original-check").removeClass("getinfo");
                $("#myinfo").addClass("getinfo");
                $(this).children("#ct").html("내 알러지정보 불러오기");
                $(".origin-sido").val($(".custom-sido").val());
                $(".origin-sigungu").val($(".custom-sigungu").val());
                
            }

        });
    }

    //페이지 뒤로 넘어가기 했을 시 및 시/도 자동 세팅되어있는 경우에 에러 수정.
    var sido = $(".sido-select").val();
    
   if(sido != "전체"){
    $.ajax({
        async : true,
        data : {sido : sido},
        type : "GET",
        url : "getGungu",
        success : function(data){
            
            sigungu = data["sigungu_name"];
            if(sido != "전체"){
                sigungu_length = Object.keys(sigungu).length;
                var options = '';
                options += '<option value="' +"전체"+ '">' + "--전체선택--" + '</option>';
                for (var i = 0; i <sigungu_length; i++) {
                    options += '<option value="' + sigungu[i]+'"'+'class='+'"sigungu-opt"'+'>' + sigungu[i] + '</option>';
                }

                $(".sigungu-select").html(options);
            }

        }
    });
    }
    //에러 수정 끝

     $(".btn-default-order").click(function(){
        $(this).addClass("active-btn");
        $(".btn-famous-order").removeClass("active-btn");
        $.ajax({
            async : true,
            data : {order : 'famous'},
            type : "GET",
            url : "index"
        })
    });

    $(".btn-famous-order").click(function(){
        
            $(this).addClass("active-btn");
            $(".btn-default-order").removeClass("active-btn");
            
        
    })
 

  
</script>

