<!--- 0. 임시 점보트론 삭제 
<div class="jumbotron">
    <p class="text-center text-light">Restaurant 식당 찾기</p></div>
</div>  --> 

<!--- 1. 필터링 검색탭 -->
<div id="main-contents-allergy" class="container">
    <!---<%if params[:sigungu]==""%>
        <div class="num_res"><strong><i class="fas fa-utensils"></i><%=params[:sido]%>/전체</strong>-<%=@zizums.length%>개 결과</div>
    <%else%>
        <div class="num_res"><strong><i class="fas fa-utensils"></i><%=params[:sido]%>/<%=params[:sigungu]%></strong>-<%=@zizums.length%>개 결과</div>
    <%end%>-->

    <!-- 검색탭 -->
    <div class="container rebrowse-box">
        <%= render partial: "rebrowse"%>
    </div>
</div>

<!-- 2-1. index-이용방법 안내 -->
<div id="index-contents" class="index-contents howto container" >
    <div class="index-content-title text-center">이용방법 안내</div><br/>
    <div class="d-flex justify-content-center">
        <%=image_tag("howto.png", class: "howto-img")%>
    </div>
</div>

<div id="rtnt-search-result">
    <!--- 2-결과페이지 -->
    <% if params[:sido] == nil%>
    <% elsif @zizums.length == 0%>
        <script>$(".index-contents").css("display","none");</script> 
        <p><%=params[:sido]%>/<%=params[:sigungu]%>에 해당 식당이 없습니다.<br>다시 검색해주세요
    <% elsif @zizums.length != 0 %>
        <script>$(".index-contents").css("display","none");</script> 
        <%# <div class="zizumOrder">
            <button type="button" class="btn btn-outline-dark btn-default-order">가나다순</button>
            <button type="button" class="btn btn-outline-dark btn-famous-order">인기순</button>
        </div> %>
        <div class="result-contents rtnt">
            <div id="rtnt-titlebox"><div class="index-content-title text-center">검색 결과</div></div>
            <div class="d-flex justify-content-center" style="background-color:#F8F8F8;">
                <div class="shops"><!--매장안내-->
                <div><% @zizum_array.each do |zizum| %> 
                        <div class="card shop-card">
                            <div class="card-body zizum-card"> 
                                <p class="seeMenu" style="display:none;"><%= zizum.restaurant_name%></p> <!--for js-->                        
                                <div class="rtnt-check">
                                    <i class="fas fa-check-square" style="display:none;"></i>
                                    <i class="far fa-square"></i>     
                                </div>
                                <div class="rtnt-info container"> <!--식당card-->
                                    <%if user_signed_in?%>
                                        <% if zizum.followed_by?(current_user) %>
                                            <!-- 좋아요를 했다면 -->
                                            <i class="fas fa-bookmark menu"></i>
                                            <div class="zizum-id-bookmark"><%=zizum.id%></div>   
                                        <% else %>
                                            <!-- 좋아요를 안 했다면 -->
                                            <i class="far fa-bookmark menu"></i>
                                            <div class="zizum-id-bookmark"><%=zizum.id%></div>
                                        <% end %>
                                    <%else%>
                                        <i class="far fa-bookmark menu" data-toggle="modal" data-target="#loginModal"></i>
                                    <%end%>   
                                    <%if zizum.image.url == nil %>
                                        <%=image_tag("beige-logo.PNG",class:"rtnt-img1")%>
                                    <%else%>  
                                        <%=image_tag zizum.image.url,class:"rtnt-img1" %> 
                                    <%end%>
                                    <div class="about-rtnt">
                                        <p class="rtnt-name"><%= zizum.restaurant_name%>&nbsp;<%= zizum.zizum_name%></p>
                                        <p class="rtnt-intro">신선한 샌드위치를 만드는 서브웨이입니다.</p>                                
                                        <p class="rtnt-adress"><i class="fas fa-map-marked-alt zizum-i-adr"></i>&nbsp;<%=zizum.sigungu%>, <%=zizum.sangse_juso%></p>
                                    </div>
                                </div>    

                                <!--메뉴안내-->

                                <div class="hideMenu">
                                    <!--메뉴 hidden-->
                                    <div class="rtnt-result-upper">
                                        <%= link_to zizuminfo_path(id:zizum.id) do%>
                                            <div class="rtnt-result-zizum-more">
                                                <div class="rtnt-result-zizum-title linkto"><i class="fas fa-store" style="color: #FF5400;"></i>&nbsp;&nbsp;<%=zizum.restaurant_name%>&nbsp;<%= zizum.zizum_name%>&nbsp;</div>
                                                <div class="rtnt-result-link linkto">상세 페이지로 이동&nbsp;>></div>
                                                <div class="rtnt-result-zizum-explain">*해당 알레르기 항원을 포함하지 않은 메뉴들입니다.<br>**메뉴 하단의 항원은 메뉴에 포함되지 않은 알레르기 항원입니다.</div>
                                            </div>
                                        <%end%>
                                        <hr class="rtnt-result-hr"/>
                                    </div>

                                    <% @menus.where(:restaurant_name => zizum.restaurant_name).each do |menu|%>
                                    <div class="rtnt-result-menu-box menu-card">
                                        <div class="card-body">
                                        <%# <i class="fas fa-utensil-spoon"></i> %>
                                            <p class="menu-name"><%=menu.menu_name%></p>
                                            <p class="menu-intro">교차 위험군과 미제공 항원들은 상세페이지에서 확인해주세요</p>
                                            <div class="menu-cpbox">                                  
                                                <%if menu.a1_maemil == 0%><div class="menu-cp">-&nbsp;메밀</div><%end%>
                                                <%if menu.a2_mil == 0%><div class="menu-cp">-&nbsp;밀</div><%end%>
                                                <%if menu.a3_daedu == 0%><div class="menu-cp">-&nbsp;대두</div><%end%>
                                                <%if menu.a4_hodu == 0%><div class="menu-cp">-&nbsp;호두</div><%end%>
                                                <%if menu.a5_ddangkong == 0%><div class="menu-cp">-&nbsp;땅콩</div><%end%>
                                                <%if menu.a6_peach == 0%><div class="menu-cp">-&nbsp;복숭아</div><%end%>
                                                <%if menu.a7_tomato == 0%><div class="menu-cp">-&nbsp;토마토</div><%end%>
                                                <%if menu.a8_piggogi == 0%><div class="menu-cp">-&nbsp;돼지고기</div><%end%>
                                                <%if menu.a9_nanryu == 0%><div class="menu-cp">-&nbsp;난류</div><%end%>
                                                <%if menu.a10_milk == 0%><div class="menu-cp">-&nbsp;우유</div><%end%>
                                                <%if menu.a11_ddakgogi == 0%><div class="menu-cp">-&nbsp;닭고기</div><%end%>
                                                <%if menu.a12_shoigogi == 0%><div class="menu-cp">-&nbsp;쇠고기</div><%end%>
                                                <%if menu.a13_saewoo == 0%><div class="menu-cp">-&nbsp;새우</div><%end%>
                                                <%if menu.a14_godeungeoh == 0%><div class="menu-cp">-&nbsp;고등어</div><%end%>
                                                <%if menu.a15_honghap == 0%><div class="menu-cp">-&nbsp;홍합</div><%end%>
                                                <%if menu.a16_junbok == 0%><div class="menu-cp">-&nbsp;전복</div><%end%>
                                                <%if menu.a17_gul == 0%><div class="menu-cp">-&nbsp;굴</div><%end%>
                                                <%if menu.a18_jogaeryu == 0%><div class="menu-cp">-&nbsp;조개류</div><%end%>
                                                <%if menu.a19_gye == 0%><div class="menu-cp">-&nbsp;게</div><%end%>
                                                <%if menu.a20_ohjingeoh == 0%><div class="menu-cp">-&nbsp;오징어</div><%end%>
                                                <%if menu.a21_ahwangsan == 0%><div class="menu-cp">-&nbsp;아황산류</div><%end%>
                                                <br>
                                                <!--<%if menu.a1_maemil == -2%><div class="menu-cp">△&nbsp;메밀</div><%end%>
                                                <%if menu.a2_mil == -2%><div class="menu-cp">△&nbsp;밀</div><%end%>
                                                <%if menu.a3_daedu == -2%><div class="menu-cp">△&nbsp;대두</div><%end%>
                                                <%if menu.a4_hodu == -2%><div class="menu-cp">△&nbsp;호두</div><%end%>
                                                <%if menu.a5_ddangkong == -2%><div class="menu-cp">△&nbsp;땅콩</div><%end%>
                                                <%if menu.a6_peach == -2%><div class="menu-cp">△&nbsp;복숭아</div><%end%>
                                                <%if menu.a7_tomato == -2%><div class="menu-cp">△&nbsp;토마토</div><%end%>
                                                <%if menu.a8_piggogi == -2%><div class="menu-cp">△&nbsp;돼지고기</div><%end%>
                                                <%if menu.a9_nanryu == -2%><div class="menu-cp">△&nbsp;난류</div><%end%>
                                                <%if menu.a10_milk == -2%><div class="menu-cp">△&nbsp;우유</div><%end%>
                                                <%if menu.a11_ddakgogi == -2%><div class="menu-cp">△&nbsp;닭고기</div><%end%>
                                                <%if menu.a12_shoigogi == -2%><div class="menu-cp">△&nbsp;쇠고기</div><%end%>
                                                <%if menu.a13_saewoo == -2%><div class="menu-cp">△&nbsp;새우</div><%end%>
                                                <%if menu.a14_godeungeoh == -2%><div class="menu-cp">△&nbsp;고등어</div><%end%>
                                                <%if menu.a15_honghap == -2%><div class="menu-cp">△&nbsp;홍합</div><%end%>
                                                <%if menu.a16_junbok == -2%><div class="menu-cp">△&nbsp;전복</div><%end%>
                                                <%if menu.a17_gul == -2%><div class="menu-cp">△&nbsp;굴</div><%end%>
                                                <%if menu.a18_jogaeryu == -2%><div class="menu-cp">△&nbsp;조개류</div><%end%>
                                                <%if menu.a19_gye == -2%><div class="menu-cp">△&nbsp;게</div><%end%>
                                                <%if menu.a20_ohjingeoh == -2%><div class="menu-cp">△&nbsp;오징어</div><%end%>
                                                <%if menu.a21_ahwangsan == -2%><div class="menu-cp">△&nbsp;아황산류</div><%end%>-->
                                                <br><br>
                                            </div>
                                        </div>
                                    </div>   
                                    <% end%>
                                </div> 
                            </div>
                        </div> 
                    <% end %></div>
                    <!-- pagination --><div class = "p_window">        
                    <% if @zizum_array.current_page == 1 %>
                        <%= paginate @zizum_array, window: 4 %>
                    <% elsif  @zizum_array.current_page == 2 %>
                        <%= paginate @zizum_array, window: 3 %>
                    <% elsif  @zizum_array.current_page == 3 %>
                        <%= paginate @zizum_array, window: 2 %>
                    <% else %>
                        <%= paginate @zizum_array, window: 2 %>                                    
                    <% end %> </div>  
                </div> <!--shop-->
                <!-- 메뉴 -->
                <div id="Box">
                    <div style="color: rgb(100,100,100); font-weight: 500; display:flex;justify-content:center;">원하시는 식당을 누르면 해당 메뉴가 이곳에 보여집니다</div>
                <div id="menuBox">
                <%# <%= paginate @menu_array, window: 2 %>    
                </div>
            </div> <!-- around --> 
        </div> <!--container -->  
    <%end%>
</div>
<%if !user_signed_in?%>
        <%= render 'layouts/loginModal'%>
<%end%>



<script>

    function scrollLink(obj){ 
        var position = $("#"+obj).offset();
        $('html, body').animate({scrollTop : position.top}, 500);
    }

    $(document).ready(function(){
        scrollLink("rtnt-search-result");
    })

    

    $(".sido-select").val('<%=params[:sido]%>');
    $(".sigungu-select").val('<%=params[:sigungu]%>');

    
    //메뉴 show
    $(".card-body").on('click',function() {
        $('#menuBox').animate({scrollTop: 0}, 0);


        $("#menuBox").html($(this).children(".seeMenu").siblings('.hideMenu').html());
        $("#card2").html($(this).children(".seeMenu").siblings('.hideCard').html());
        $(this).children('.rtnt-check').children('.fa-square').css("display","none");      
        $(this).children('.rtnt-check').children('.fa-check-square').css("display","block");              
        $('.fa-check-square').not($(this).children('.rtnt-check').children()).css("display","none");   
        $('.fa-square').not($(this).children('.rtnt-check').children()).css("display","block");          
               
    });

    //검색탭 전환
    $(".btn-allergy").click(function(){
        
            $(this).children('.btn-searchtype-circle').addClass("active-btn");
            $(this).children('.btn-searchtype-circle').children('div').addClass("active-btn-inside");
            $(this).children('.category-name').addClass('active-typename');
            
            $(".btn-restaurant").children('.btn-searchtype-circle').removeClass("active-btn");
            $(".btn-restaurant").children('.btn-searchtype-circle').children('div').removeClass("active-btn-inside");
            $(".btn-restaurant").children('.category-name').removeClass('active-typename');
            
            $(".restaurant-search").addClass("nodisplay");
            $(".allergy-search").removeClass("nodisplay");
            $(".index-contents").css("display","none");
            $(".result-contents").css("display","block");            
        
    });

    $(".btn-restaurant").click(function(){
        
            $(this).children('.btn-searchtype-circle').addClass("active-btn");
            $(this).children('.btn-searchtype-circle').children('div').addClass("active-btn-inside");
            $(this).children('.category-name').addClass('active-typename');
            
            $(".btn-allergy").children('.btn-searchtype-circle').removeClass("active-btn");
            $(".btn-allergy").children('.btn-searchtype-circle').children('div').removeClass("active-btn-inside");
            $(".btn-allergy").children('.category-name').removeClass('active-typename');

            $(".restaurant-search").removeClass("nodisplay");
            $(".allergy-search").addClass("nodisplay");
            $(".index-contents").css("display","block");
            $(".result-contents").css("display","none");                        

    });

     //내 정보 불러오기 script
    $(".custom-btn-original").click(function(){
        $('#myinfo').removeClass('nodisplay');
    });

    //custom 안했을 때. 숨겨진 체크박스 선택되도록 + active
    $(".allergy-cp-origin").click(function() {
        var allergy = $(this).attr('id');
        if($(this).hasClass('allergy-cp-active')){
            $(this).removeClass('allergy-cp-active');
            $(this).children('img').removeClass('allergy-cp-img-active');

            if(allergy == "a1") $("#a1_maemil").prop('checked', false);
            else if(allergy == "a2") $("#a2_mil").prop('checked', false);
            else if(allergy == "a3") $("#a3_daedu").prop('checked', false);
            else if(allergy == "a4") $("#a4_hodu").prop('checked', false);
            else if(allergy == "a5") $("#a5_ddangkong").prop('checked', false);
            else if(allergy == "a6") $("#a6_peach").prop('checked', false);
            else if(allergy == "a7") $("#a7_tomato").prop('checked', false);
            else if(allergy == "a8") $("#a8_piggogi").prop('checked', false);
            else if(allergy == "a9") $("#a9_nanryu").prop('checked', false);
            else if(allergy == "a10") $("#a10_milk").prop('checked', false);
            else if(allergy == "a11") $("#a11_ddakgogi").prop('checked', false);
            else if(allergy == "a12") $("#a12_shoigogi").prop('checked', false);
            else if(allergy == "a13") $("#a13_saewoo").prop('checked', false);
            else if(allergy == "a14") $("#a14_godeungeoh").prop('checked', false);
            else if(allergy == "a15") $("#a15_honghap").prop('checked', false);
            else if(allergy == "a16") $("#a16_junbok").prop('checked', false);
            else if(allergy == "a17") $("#a17_gul").prop('checked', false);
            else if(allergy == "a18") $("#a18_jogaeryu").prop('checked', false);
            else if(allergy == "a19") $("#a19_gye").prop('checked', false);
            else if(allergy == "a20") $("#a20_ohjingeoh").prop('checked', false);
            else if(allergy == "a21") $("#a21_ahwangsan").prop('checked', false);
            //배경색이 있는 그림이라서 바꿀 수가 없다. 일러스트를 흰색으로 못 바꿈.
            
        }
        else{
            $(this).addClass('allergy-cp-active');
            $(this).children('img').addClass('allergy-cp-img-active');
            if(allergy == "a1") $("#a1_maemil").prop('checked', true);
            else if(allergy == "a2") $("#a2_mil").prop('checked', true);
            else if(allergy == "a3") $("#a3_daedu").prop('checked', true);
            else if(allergy == "a4") $("#a4_hodu").prop('checked', true);
            else if(allergy == "a5") $("#a5_ddangkong").prop('checked', true);
            else if(allergy == "a6") $("#a6_peach").prop('checked', true);
            else if(allergy == "a7") $("#a7_tomato").prop('checked', true);
            else if(allergy == "a8") $("#a8_piggogi").prop('checked', true);
            else if(allergy == "a9") $("#a9_nanryu").prop('checked', true);
            else if(allergy == "a10") $("#a10_milk").prop('checked', true);
            else if(allergy == "a11") $("#a11_ddakgogi").prop('checked', true);
            else if(allergy == "a12") $("#a12_shoigogi").prop('checked', true);
            else if(allergy == "a13") $("#a13_saewoo").prop('checked', true);
            else if(allergy == "a14") $("#a14_godeungeoh").prop('checked', true);
            else if(allergy == "a15") $("#a15_honghap").prop('checked', true);
            else if(allergy == "a16") $("#a16_junbok").prop('checked', true);
            else if(allergy == "a17") $("#a17_gul").prop('checked', true);
            else if(allergy == "a18") $("#a18_jogaeryu").prop('checked', true);
            else if(allergy == "a19") $("#a19_gye").prop('checked', true);
            else if(allergy == "a20") $("#a20_ohjingeoh").prop('checked', true);
            else if(allergy == "a21") $("#a21_ahwangsan").prop('checked', true);
        }
        
        
        console.log(allergy);
    });


    

    //origin checkbox 뒤로 돌아가기 했을 때 생기는 문제 해결
    if($("#a1_maemil").prop('checked') == true)
    {
        $("#a1").addClass("allergy-cp-active");
        $("#a1").children('img').addClass('allergy-cp-img-active');
    }
    if($("#a2_mil").prop('checked') == true)
    {
        $("#a2").addClass("allergy-cp-active");
        $("#a2").children('img').addClass('allergy-cp-img-active');
    }
    if($("#a3_daedu").prop('checked') == true)
    {
        $("#a3").addClass("allergy-cp-active");
        $("#a3").children('img').addClass('allergy-cp-img-active');
    }
    if($("#a4_hodu").prop('checked') == true)
    {
        $("#a4").addClass("allergy-cp-active");
        $("#a4").children('img').addClass('allergy-cp-img-active');
    }
    if($("#a5_ddangkong").prop('checked') == true)
    {
        $("#a5").addClass("allergy-cp-active");
        $("#a5").children('img').addClass('allergy-cp-img-active');
    }
    if($("#a6_peach").prop('checked') == true)
    {
        $("#a6").addClass("allergy-cp-active");
        $("#a6").children('img').addClass('allergy-cp-img-active');
    }
    if($("#a7_tomato").prop('checked') == true)
    {
        $("#a7").addClass("allergy-cp-active");
        $("#a7").children('img').addClass('allergy-cp-img-active');
    }
    if($("#a8_piggogi").prop('checked') == true)
    {
        $("#a8").addClass("allergy-cp-active");
        $("#a8").children('img').addClass('allergy-cp-img-active');
    }
    if($("#a9_nanryu").prop('checked') == true)
    {
        $("#a9").addClass("allergy-cp-active");
        $("#a9").children('img').addClass('allergy-cp-img-active');
    }
    if($("#a10_milk").prop('checked') == true)
    {
        $("#a10").addClass("allergy-cp-active");
        $("#a10").children('img').addClass('allergy-cp-img-active');
    }
    if($("#a11_ddakgogi").prop('checked') == true)
    {
        $("#a11").addClass("allergy-cp-active");
        $("#a11").children('img').addClass('allergy-cp-img-active');
    }
    if($("#a12_shoigogi").prop('checked') == true)
    {
        $("#a12").addClass("allergy-cp-active");
        $("#a12").children('img').addClass('allergy-cp-img-active');
    }
    if($("#a13_saewoo").prop('checked') == true)
    {
        $("#a13").addClass("allergy-cp-active");
        $("#a13").children('img').addClass('allergy-cp-img-active');
    }
    if($("#a14_godeungeoh").prop('checked') == true)
    {
        $("#a14").addClass("allergy-cp-active");
        $("#a14").children('img').addClass('allergy-cp-img-active');
    }
    if($("#a15_honghap").prop('checked') == true)
    {
        $("#a15").addClass("allergy-cp-active");
        $("#a15").children('img').addClass('allergy-cp-img-active');
    }
    if($("#a16_junbok").prop('checked') == true)
    {
        $("#a16").addClass("allergy-cp-active");
        $("#a16").children('img').addClass('allergy-cp-img-active');
    }
    if($("#a17_gul").prop('checked') == true)
    {
        $("#a17").addClass("allergy-cp-active");
        $("#a17").children('img').addClass('allergy-cp-img-active');
    }
    if($("#a18_jogaeryu").prop('checked') == true)
    {
        $("#a18").addClass("allergy-cp-active");
        $("#a18").children('img').addClass('allergy-cp-img-active');
    }
    if($("#a19_gye").prop('checked') == true)
    {
        $("#a19").addClass("allergy-cp-active");
        $("#a19").children('img').addClass('allergy-cp-img-active');
    }
    if($("#a20_ohjingeoh").prop('checked') == true)
    {
        $("#a20").addClass("allergy-cp-active");
        $("#a20").children('img').addClass('allergy-cp-img-active');
    }
    if($("#a21_ahwangsan").prop('checked') == true){
        $("#a21").addClass("allergy-cp-active");
        $("#a21").children('img').addClass('allergy-cp-img-active');
    }


    //ajax 좋아요 구현
    if('<%=user_signed_in?%>'==="true"){
        $(".fa-bookmark").click(function(){
            $zizumid = $(this).siblings("div.zizum-id-bookmark").html();
            $likeicon = $(this);
            $.ajax({
                async : true,
                data : {id: $zizumid},
                type : "GET",
                url : "/follows/zizumfollow",
                success : function(data){
                    followType = data["follow"];
                    console.log("이제"+data["zizumid"]+"를 follow"+followType);
                     $likeicon.toggleClass('far');
                     $likeicon.toggleClass('fas');
                }
            })
        });
    }

    var sigungu;
    var sigungu_length;
    // $("#custom").click(function(){
    //     if('<%=user_signed_in?%>'==="false"){
    //         alert("로그인이 필요한 기능입니다.")
    //     }
    // });
    $(".sido-select").click(function() {
        var sido = $(this).val();
        
        $.ajax({
            async : true,
            data : {sido : sido},
            type : "GET",
            url : "menus/getGungu",
            success : function(data){
                
                sigungu = data["sigungu_name"];
                if(sido != "전체"){
                    sigungu_length = Object.keys(sigungu).length;
                    var options = '';
                    options += '<option value="' +"전체"+ '">' + "시・군・구 찾기" + '</option>';
                    for (var i = 0; i <sigungu_length; i++) {
                        options += '<option value="' + sigungu[i]+'"'+'class='+'"sigungu-opt"'+'>' + sigungu[i] + '</option>';
                    }
                    $(".sigungu-select").html(options);
                }
            }
        })
    });

    //내 정보 불러오기 script
    $(".custom-btn-original").click(function(){
        $('#myinfo').removeClass('nodisplay');
    });

    //페이지 뒤로 넘어가기 했을 시에 에러 수정.
    var sido = $(".sido-select").val();
    
    if(sido != "전체"){
    $.ajax({
        async : true,
        data : {sido : sido},
        type : "GET",
        url : "menus/getGungu",
        success : function(data){
            
            sigungu = data["sigungu_name"];
            if(sido != "전체"){
                sigungu_length = Object.keys(sigungu).length;
                var options = '';
                options += '<option value="' +"전체"+ '">' + "시・군・구 찾기" + '</option>';
                for (var i = 0; i <sigungu_length; i++) {
                    options += '<option value="' + sigungu[i]+'"'+'class='+'"sigungu-opt"'+'>' + sigungu[i] + '</option>';
                }
                $(".sigungu-select").html(options);
            }
        }
    });
    }

</script>
