<!-- 회원가입 수정 섹션 -->
  <div class="RegisterSection">
    <div class="RegisterForm container">
      <div>

        <!-- 회원가입 Form 섹션 -->
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>
          <div class="RegisterFormHeader big-title"> 개인정보 수정 </div>
          <!-- 필수항목 기입 섹션 -->
          <%# <hr><h6 class="RegisterFormMust" style="text-align: right;"> **필수 항목 </h6>  %>

          <%# <div class = "field">
            <span style="color:red;">*&nbsp;</span><%= f.label "닉네임" %>
            <%# <div class="form-inline">
            <%# <%= f.text_field :name, class: "form-control", id: "checkname", :required => true, :validates => { :uniqueness => true } %>
            <%# <button type = "button" id="checkDouble">중복확인</button>
            </div>
            <p class = "mt-4 mb-2" id = "check-warning"></p>
          </div> %> 

          <%# <div class="field">
            <span style="color:red;">*&nbsp;</span><%= f.label "이메일" %>
            <%# <%= f.email_field :email, autofocus: true, autocomplete: "email" , class: "form-control" %>
          <%# </div> %> 
          <!-- 필수항목 기입 섹션 끝 -->


          <!-- 선택항목 기입 섹션 -->
          <h6 class="RegisterFormMust" style="text-align: right;"> **선택 항목 </h6>
          
          <div class="field">

            <h5 style="padding-bottom: 1%"> 알레르기정보 </h5>
            
              <div> 유제품 및 난류:
                <label><%= check_box_tag 'user[allergy][]', '난류', current_user.allergy.include?('난류') %> 난류</label>
                <label><%= check_box_tag 'user[allergy][]', '우유', current_user.allergy.include?('우유') %> 우유</label>
              </div><br/>

              <div> 과채류 및 곡류: 
                <label><%= check_box_tag 'user[allergy][]', '복숭아', current_user.allergy.include?('복숭아')%> 복숭아</label>
                <label><%= check_box_tag 'user[allergy][]', '토마토', current_user.allergy.include?('토마토')%> 토마토</label>
                <label><%= check_box_tag 'user[allergy][]', '대두(콩)' , current_user.allergy.include?('대두(콩)')%> 대두(콩) </label>
                <label><%= check_box_tag 'user[allergy][]', '밀', current_user.allergy.include?('밀')%> 밀</label>
                <label><%= check_box_tag 'user[allergy][]', '메밀', current_user.allergy.include?('메밀')%> 메밀 </label>
              </div><br/>

              <div> 육류:
                <label><%= check_box_tag 'user[allergy][]', '닭고기', current_user.allergy.include?('닭고기') %> 닭고기 </label>
                <label><%= check_box_tag 'user[allergy][]', '돼지고기', current_user.allergy.include?('돼지고기')%>돼지고기 </label>
                <label><%= check_box_tag 'user[allergy][]', '쇠고기', current_user.allergy.include?('쇠고기')%>쇠고기</label>
              </div><br/> 

              <div> 어패류:
                <label><%= check_box_tag 'user[allergy][]', '고등어' , current_user.allergy.include?('고등어')%>고등어</label>
                <label><%= check_box_tag 'user[allergy][]', '오징어', current_user.allergy.include?('오징어') %>오징어</label>
                <label><%= check_box_tag 'user[allergy][]', '게' , current_user.allergy.include?('게')%> 게</label>
                <label><%= check_box_tag 'user[allergy][]', '새우' , current_user.allergy.include?('새우')%> 새우 </label>
                <label><%= check_box_tag 'user[allergy][]', '조개류', current_user.allergy.include?('조개류') %>조개류</label>
                <label><%= check_box_tag 'user[allergy][]', '홍합', current_user.allergy.include?('홍합') %>홍합</label>
                <label><%= check_box_tag 'user[allergy][]', '전복' , current_user.allergy.include?('전복')%>전복</label>
                <label><%= check_box_tag 'user[allergy][]', '굴', current_user.allergy.include?('굴') %>굴</label>
              </div><br/>

              <div> 견과류,아황산:
                <label><%= check_box_tag 'user[allergy][]', '땅콩', current_user.allergy.include?('땅콩') %> 땅콩</label>
                <label><%= check_box_tag 'user[allergy][]', '호두', current_user.allergy.include?('호두') %> 호두 </label>
                <label><%= check_box_tag 'user[allergy][]', '아황산류', current_user.allergy.include?('아황산류') %> 아황산류 </label>
              </div><br>
          </div>

          <hr>

          <div class="row">

            <%# <div class="col-3 field">
              <h5> 성별 </h5>
              <%= f.radio_button :gender, "남" %>
              <%# <%= f.radio_button :gender, "여" %> 
            <%# </div> %> 
            <div class="col-4 field">
              <h5> 프로필 사진 </h5>
              <%#= f.label :profileimg, "프로필 사진" %>
              <%= f.file_field :profileimg, accept: 'image/png, image/gif, image/jpeg' %>
            </div>

          </div><br/> 
             <hr>
          
          <!--비밀번호 수정-->
          <div class="field"> 
            <h5> 비밀번호 수정&nbsp;<i style="font-size:0.9rem;">(<%= t('.leave_blank_if_you_don_t_want_to_change_it') %>)</i></h5>
            <%# <i>(<%= t('.we_need_your_current_password_to_confirm_your_changes') %>
            <div class="row" style="margin-top:1rem;">
              <div class="col field">
              <%= f.label :password%> 
              <%= f.password_field :password, autocomplete: "off",class: "form-control" %>            
              </div>
              <div class="col field">
              <%= f.label :password_confirmation %><br />            
              <%= f.password_field :password_confirmation, autocomplete: "off",class: "form-control" %>
              </div>
              <%# <% if @minimum_password_length %>
                <%# <br />
                <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %>
              <%# <% end %> 
            </div><br/>

            <div class="field">
              <%= f.label :current_password %> <br />
              <%= f.password_field :current_password, autocomplete: "off",class: "form-control"%>
            </div><br/>
          </div> 

          <div class="actions">
            <%# <%= f.submit "Sign up" , id: "submitButton" %> 
                <div class="d-flex justify-content-between">
                <div></div>
                <button type="submit" class="btn btn-search">수정하기</button>
                </div>
          </div>
        <% end %>  
        <!-- 수정 Form 섹션 끝 -->
        <br>
        
        <!-- 탈퇴  -->
        <hr>
        <h5> 회원탈퇴 </h5>
        <div class="row">
          <p class="col field"><%= t('.unhappy') %> </p>
          <p class="col field"><%= button_to t('.cancel_my_account'), registration_path(resource_name), data: { confirm: t('.are_you_sure') }, method: :delete, class:"btn-cancel" %></p>
        </div><br/>

      </div>
    </div>
  </div>
<!-- 수정 섹션 끝 -->



<%# <script>
//document.getElementById("submitButton").disabled = true;
$('#checkname').each(function(){
  var elem =$(this)
   // Save current value of element
  elem.data('oldVal',elem.val())
  
  // Look for changes in the value
   elem.bind("change keyup paste", function(event){
      if (elem.data('oldVal') != elem.val()) {
      // Updated stored value
      //  elem.data('oldVal', elem.val());

       // Do action
      document.getElementById("submitButton").disabled = true;
      document.getElementById("check-warning").innerHTML = "닉네임 중복확인을 해주세요!";
      
      document.getElementById("checkDouble").addEventListener("click", function(){             
      var nameIn = document.getElementById("checkname").value;
        $.ajax({    //checkid와같이x
          async : true,
          type : "POST",
          data : {name : nameIn},
          url : "checkDouble",
          dataType : "json",
          success : function(data){
            
            console.log(data);
          
            if (data["ableName"] == 1&& elem.data('oldVal') != elem.val()){
                document.getElementById("check-warning").innerHTML = "해당 닉네임은 이미 사용중입니다";
                 document.getElementById("submitButton").disabled = true;
            }
            else{
                document.getElementById("check-warning").innerHTML = "사용가능한 닉네임입니다";
                 document.getElementById("submitButton").disabled = false;
            }
          }
        })
      })
     }
   });

 });


</script> %>
