<!-- 회원가입 수정 섹션 -->
  <div class="RegisterSection">
    <div class="RegisterForm container">
      <div>

        <!-- 회원가입 Form 섹션 -->
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <div class="RegisterFormHeader big-title"> 개인정보 수정 </div>
        <!-- 필수항목 기입 섹션 -->
        <hr><h6 class="RegisterFormMust" style="text-align: right;"> **필수 항목 </h6> 

        <div class = "field">
          <span style="color:red;">*&nbsp;</span><%= f.label "이름" %><br/>
          <div class="form-inline">
          <%= f.text_field :name, class: "form-control", id: "checkname", :required => true, :validates => { :uniqueness => true } %>
          <button type = "button" id="checkDouble">중복확인</button>
          </div>
          <p class = "mt-4 mb-2" id = "check-warning"></p>
        </div>

        <div class="field">
          <span style="color:red;">*&nbsp;</span><%= f.label "이메일" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" , class: "form-control" %>
        </div>
        <!-- 필수항목 기입 섹션 끝 -->


        <!-- 선택항목 기입 섹션 -->
        <hr><h6 class="RegisterFormMust" style="text-align: right;"> **선택 항목 </h6>
        
        <div class="field">

          <h5 style="padding-bottom: 1%"> 알레르기정보 </h5>
          
          <div> 유제품 및 난류:
            <%= check_box_tag 'user[allergy][]', '난류' %> 난류
            <%= check_box_tag 'user[allergy][]', '우유' %> 우유 
          </div><br/>

          <div> 과채류 및 곡류: 
            <%= check_box_tag 'user[allergy][]', '복숭아'%> 복숭아
            <%= check_box_tag 'user[allergy][]', '토마토'%> 토마토
            <%= check_box_tag 'user[allergy][]', '대두(콩)' %> 대두(콩) 
            <%= check_box_tag 'user[allergy][]', '밀'%> 밀
            <%= check_box_tag 'user[allergy][]', '메밀'%> 메밀 
          </div><br/>

          <div> 육류:
            <%= check_box_tag 'user[allergy][]', '닭고기' %> 닭고기 
            <%= check_box_tag 'user[allergy][]', '돼지고기'%>돼지고기 
            <%= check_box_tag 'user[allergy][]', '쇠고기'%>쇠고기
          </div><br/> 

          <div> 어패류:
            <%= check_box_tag 'user[allergy][]', '고등어' %>고등어
            <%= check_box_tag 'user[allergy][]', '오징어' %>오징어
            <%= check_box_tag 'user[allergy][]', '게' %> 게
            <%= check_box_tag 'user[allergy][]', '새우' %> 새우 
            <%= check_box_tag 'user[allergy][]', '조개류' %>조개류
            <%= check_box_tag 'user[allergy][]', '홍합' %>홍합
            <%= check_box_tag 'user[allergy][]', '전복' %>전복
            <%= check_box_tag 'user[allergy][]', '굴' %>굴
          </div><br/>

          <div> 견과류,아황산:
            <%= check_box_tag 'user[allergy][]', '땅콩' %> 땅콩
            <%= check_box_tag 'user[allergy][]', '호두 ' %> 호두 
            <%= check_box_tag 'user[allergy][]', '아황산류 ' %> 아황산류 
          </div><br>
        </div>

        <hr>

        <div class="row">

          <div class="col-3 field">
            <h5> 성별 </h5>
            <%= f.radio_button :gender, "남" %> 남자
            <%= f.radio_button :gender, "여" %> 여자 <br/>
          </div>

          <div class="col-4 field">
            <h5> 나이 </h5>
            <%= f.select :ages, options_for_select([["10대이하", "10대이하"], ["10대","10대"], ["20-30대","20-30대"], ["40-50대","40-50대"],["60대이상","60대이상"]]), { prompt: '나이를 선택해주세요' } %>  
          </div>

          <div class="col-4 field">
            <h5> 프로필 사진 </h5>
            <%#= f.label :profileimg, "프로필 사진" %>
            <%= f.file_field :profileimg, accept: 'image/png, image/gif, image/jpeg' %>
          </div>

        </div><br/>      
        <!-- 선택항목 기입 섹션 끝 -->

        <div class="actions">
           <%# <%= f.submit "Sign up" , id: "submitButton" %> 
              <div class="d-flex justify-content-between">
              <div></div>
              <button type="submit" class="btn btn-search">수정하기</button>
              </div>
        </div>
        <% end %>  
        <!-- 회원가입 Form 섹션 끝 -->
        <br>

      </div>
    </div>
  </div>
<!-- 회원가입 수정 섹션 끝 -->



<script>
//document.getElementById("submitButton").disabled = true;
$('#checkname').each(function(){
  var elem =$(this)
   // Save current value of element
  elem.data('oldVal',elem.val())
  
  // Look for changes in the value
   elem.bind("change keyup paste", function(event){
      if (elem.data('oldVal') != elem.val()) {
      // Updated stored value
      //  elem.data('oldVal', elem.val());

       // Do action
      document.getElementById("submitButton").disabled = true;
      document.getElementById("check-warning").innerHTML = "닉네임 중복확인을 해주세요!";
      
      document.getElementById("checkDouble").addEventListener("click", function(){             
      var nameIn = document.getElementById("checkname").value;
        $.ajax({    //checkid와같이x
          async : true,
          type : "POST",
          data : {name : nameIn},
          url : "checkDouble",
          dataType : "json",
          success : function(data){
            
            console.log(data);
          
            if (data["ableName"] == 1&& elem.data('oldVal') != elem.val()){
                document.getElementById("check-warning").innerHTML = "해당 닉네임은 이미 사용중입니다";
                 document.getElementById("submitButton").disabled = true;
            }
            else{
                document.getElementById("check-warning").innerHTML = "사용가능한 닉네임입니다";
                 document.getElementById("submitButton").disabled = false;
            }
          }
        })
      })
     }
   });

 });


</script>

<!-- 

<h2>세부정보를 입력해주세요 </h2>
<%# <%= resource_name.to_s.humanize %> 
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <h5>필수</h5>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" , class: "form-control" %>
  </div>

  <%# <div class = "field">
    <%= f.label "아이디" %>
    <%# <%= f.text_field :IDe, class: "form-control" , placeholder: "소셜로그인의 경우 필요없음" %>
     <%# <p class = "mt-4 mb-2" id = "check-id"></p>
  </div> %> 

  <div class = "field">
    <%= f.label "이름" %><br/>
    <div class="form-inline">
    <%= f.text_field :name, class: "form-control", id: "checkname", :required => true, :validates => { :uniqueness => true } %>
    <button type = "button" id="checkDouble">중복확인</button>
    </div>
    <p class = "mt-4 mb-2" id = "check-warning"></p>
  </div>
  <hr>

 <hr><h5>선택</h5>
  <div class="field">
    <h5> 성별 </h5> 
      <%= f.radio_button :gender, "male" %> 남자<br/>
      <%= f.radio_button :gender, "female" %> 여자 <br/>
  </div><br/>

  <div class="field">
    <h5> 나이 </h5> 
    <%= f.select :ages, options_for_select([["10대이하", "10대이하"], ["20-29","20-29"], ["20-30대","20-30대"], ["40-50대","40-50대"],["60대이상","60대이상"]]), { prompt: '나이를 선택해주세요' } %>  
  </div><br/><br/>
 
  <div class="field">
    <h4> 알레르기정보 </h4>
    <div> 유제품 및 난류:
      <%= check_box_tag 'user[allergy][]', '난류' %>난류
      <%= check_box_tag 'user[allergy][]', '우유' %> 우유 
    </div><br/>
    <div> 과채류 및 곡류:
     <%= check_box_tag 'user[allergy][]', '복숭아/토마토'%> 복숭아/토마토
     <%= check_box_tag 'user[allergy][]', '대두(콩)' %> 대두(콩) 
     <%= check_box_tag 'user[allergy][]', '밀/메밀'%> 밀/메밀 
    </div><br/>
    <div> 육류:
      <%= check_box_tag 'user[allergy][]', '닭고기' %> 닭고기 
      <%= check_box_tag 'user[allergy][]', '돼지고기'%>돼지고기 
      <%= check_box_tag 'user[allergy][]', '쇠고기'%>쇠고기
    </div><br/> 
    <div> 어패류:
      <%= check_box_tag 'user[allergy][]', '고등어/오징어' %>고등어/오징어
      <%= check_box_tag 'user[allergy][]', '게/새우 ' %> 게/새우 
      <%= check_box_tag 'user[allergy][]', '조개류/홍합/전복/굴' %>조개류/홍합/전복/굴
    </div><br/>
    <div> 견과류,아황산:
      <%= check_box_tag 'user[allergy][]', '땅콩/호두 ' %> 땅콩/호두 
      <%= check_box_tag 'user[allergy][]', '아황산류 ' %> 아황산류 
    </div><br/>
    <div>
      기타:<%= f.text_field :allergy_etc %>
      <input id="user[allergy][]" name="user[allergy][]"  class="edit" type="hidden"/>          
    </div>
  </div><br/>

  <div class="field">
    <%= f.label :profileimg, "프로필 사진" %><br />
    <%= f.file_field :profileimg, type: "file", accept: 'image/png, image/gif, image/jpeg' %>
  </div>
  
  <div class="actions">
    <%= f.submit "Update", id: "submitButton" %>
  </div>
<% end %>
<%# <h3>Cancel my account</h3> %>
<%# <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>
<%= link_to "Back", :back %>


-->