<!-- 회원가입 섹션 -->
  <div class="RegisterSection">
    <div class="RegisterForm container">
      <div>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

          <h3 class="RegisterFormHeader">회원가입 안내</h3>
          <hr><h6 class="RegisterFormMust" style="text-align: right;"> **필수 항목 </h6> 

            <div class="row">

              <div class="col field">
                <%= f.label :name %><br/>
                <%= f.text_field :name, class: "form-control", id: "checkname", :required => true, :validates => { :uniqueness => true }  %>
                <p class = "mt-4 mb-2" id = "check-warning"></p>
              </div>

              <div class="col field">
                <%= f.label "아이디" %><br/>
                <%= f.text_field :IDe, class: "form-control", id: "checkID", :required => true, :placeholder => "가입 후 변경 불가능하니 신중히 기입해주세요" %>
                <p class = "mt-4 mb-2" id = "check-id"></p>
              </div>

            </div>

            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control",  :required => true  %>
            </div><br>

            <div class="field">
              <%= f.label :password %><em>(6글자 이상)</em>
              <%= f.password_field :password, autocomplete: "off", class: "form-control", id:"password", :required => true   %>
              <%# <%= f.password_field :password, autocomplete: "new-password" %>
              <p class = "mt-4 mb-2" id = "check-pw1"></p>    
              
            </div>

            <div class="field">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, id:"password2", autocomplete: "off", class: "form-control", :required => true %>
              <p class = "mt-4 mb-2" id = "check-pw2"></p>    
            </div>


          <hr><h6 class="RegisterFormMust" style="text-align: right;"> **선택 항목 </h6>  

            <div class="field">

              <h5 style="padding-bottom: 1%"> 알레르기정보 </h5>
              
              <div> 유제품 및 난류:
                <%= check_box_tag 'user[allergy][]', '난류' %> 난류
                <%= check_box_tag 'user[allergy][]', '우유' %> 우유 
              </div><br/>

              <div> 과채류 및 곡류: 
                <%= check_box_tag 'user[allergy][]', '복숭아'%> 복숭아
                <%= check_box_tag 'user[allergy][]', '토마토'%> 토마토
                <%= check_box_tag 'user[allergy][]', '대두(콩)' %> 대두(콩) 
                <%= check_box_tag 'user[allergy][]', '밀'%> 밀
                <%= check_box_tag 'user[allergy][]', '메밀'%> 메밀 
              </div><br/>

              <div> 육류:
                <%= check_box_tag 'user[allergy][]', '닭고기' %> 닭고기 
                <%= check_box_tag 'user[allergy][]', '돼지고기'%>돼지고기 
                <%= check_box_tag 'user[allergy][]', '쇠고기'%>쇠고기
              </div><br/> 

              <div> 어패류:
                <%= check_box_tag 'user[allergy][]', '고등어' %>고등어
                <%= check_box_tag 'user[allergy][]', '오징어' %>오징어
                <%= check_box_tag 'user[allergy][]', '게' %> 게
                <%= check_box_tag 'user[allergy][]', '새우' %> 새우 
                <%= check_box_tag 'user[allergy][]', '조개류' %>조개류
                <%= check_box_tag 'user[allergy][]', '홍합' %>홍합
                <%= check_box_tag 'user[allergy][]', '전복' %>전복
                <%= check_box_tag 'user[allergy][]', '굴' %>굴
              </div><br/>

              <div> 견과류,아황산:
                <%= check_box_tag 'user[allergy][]', '땅콩' %> 땅콩
                <%= check_box_tag 'user[allergy][]', '호두 ' %> 호두 
                <%= check_box_tag 'user[allergy][]', '아황산류 ' %> 아황산류 
              </div><br>
            </div>

            <hr>

            <div class="row">

              <div class="col-3 field">
                <h5> 성별 </h5>
                <%= f.radio_button :gender, "남" %> 남자
                <%= f.radio_button :gender, "여" %> 여자 <br/>
              </div>

              <div class="col-4 field">
                <h5> 나이 </h5>
                <%= f.select :ages, options_for_select([["10대이하", "10대이하"], ["10대","10대"], ["20-30대","20-30대"], ["40-50대","40-50대"],["60대이상","60대이상"]]), { prompt: '나이를 선택해주세요' } %>  
              </div>

              <div class="col-4 field">
                <h5> 프로필 사진 </h5>
                <%#= f.label :profileimg, "프로필 사진" %>
                <%= f.file_field :profileimg, accept: 'image/png, image/gif, image/jpeg' %>
              </div>

            </div><br/>

              <!-- 
              <div>
                기타:<%= f.text_field :allergy_etc , placeholder: '감자, 고구마 등' %>    
                <%# 기타:<%= f.text_field :etc, class: "form-control" %>
                <%# <input  id="user[allergy][]" name="user[allergy][]" type="text" /> %>
              </div>
            </div><br/>
            -->

            <hr/>
            <div class="actions">
              <%# <%= f.submit "Sign up" , id: "submitButton" %> 
              <input type="button" class="btn btn-primary" value="회원가입 버튼" id="submit"> </input>
            </div>
          <% end %>
          <!--<hr/>-->
          <br>
          <%#= render "devise/shared/links" %>
      </div>
    </div>
  </div>
<!-- 회원가입 섹션 끝-->



<style>
.modal { 
    display: none; 
    z-index: 1;
}   
</style>

<script>
// document.getElementById("submitButton").disabled = true;
// document.getElementById("password2").disabled = true;
var pw_check = document.getElementById("password");
var pw_confirm = document.getElementById("password2");
var confirm = document.getElementById("check-pw2");
// var submit = document.getElementById("submitButton");
var namecheck = document.getElementById("check-warning");
var idcheck = document.getElementById("check-id");

function doubleCheck() {
    if (pw_confirm.value != pw_check.value ){
      confirm.innerHTML = "불일치";
      // submit.disabled = true;   
    }else{
      confirm.innerHTML = "일치";
      // submit.disabled = false;  
    }  
}

// function checkAll() { 
//    if (confirm.innerHTML == "일치" && namecheck.innerHTML == "사용가능한 닉네임입니다" && idcheck.innerHTML == "사용가능한 아이디입니다"){
//       submit.disabled = false;       
//    }else {
//       submit.disabled = true;            
//    }
// }

$(document).ready(function(){
  var lengthcheck = document.getElementById("check-pw1");
   $("#password").keyup(function(){ 
    if (pw_check.value.length<6){
      lengthcheck.innerHTML = "6글자이상";
    } else {
      lengthcheck.innerHTML = "사용가능";  
      // pw_confirm.disabled = false; 
    }
     doubleCheck();
  });
  
  $("#password2").keyup(function(){ 
      doubleCheck(); 
    // if (location.pathname =="/users"){
    //   if (confirm.innerHTML=="일치" && idcheck.innerHTML.length == 0 && namecheck.innerHTML.length ==0){
    //   submit.disabled = false;
    //   }
    // }   
  });
  
  $("#checkname").keyup(function(){                           
      var nameIn = document.getElementById("checkname").value;
      var IDeIn = document.getElementById("checkID").value;
      var namecheck = document.getElementById("check-warning");
        $.ajax({    //checkid와같이x
          async : true,
          type : "POST",
          data : {name : nameIn, IDe : IDeIn},
          url : "checkDouble",
          dataType : "json",
          success : function(data){
            console.log(data);     
            if (data["ableName"] == 1){
                namecheck.innerHTML = "해당 닉네임은 이미 사용중입니다";
                // submit.disabled = true;
            }else if(data["ableName"] == 0 && data["ableID"] == 1 ){
                namecheck.innerHTML = "사용가능한 닉네임입니다";
                // submit.disabled = true;
            }else if(data["ableName"] == 0 && data["ableID"] == 0){
                namecheck.innerHTML = "사용가능한 닉네임입니다";
                // submit.disabled  = false;
            }
          }
        });
  });
    
  $("#checkID").keyup(function(){
      var IDeIn = document.getElementById("checkID").value;
      var nameIn = document.getElementById("checkname").value;
      var idcheck = document.getElementById("check-id");
        $.ajax({
          async : true,
          type : "POST",
          data : {name : nameIn,IDe : IDeIn},
          url : "checkDouble",
          dataType : "json",
          success : function(data){   
            console.log(data);
            if (data["ableID"] == 1){
                idcheck.innerHTML = "해당 아이디는 이미 사용중입니다";
                // submit.disabled = true;
            }else if( data["ableID"] == 0 && data["ableName"] ==1){
                idcheck.innerHTML = "사용가능한 아이디입니다";
                // submit.disabled = true;
            }else if(data["ableName"] == 0 && data["ableID"] == 0 ){
                idcheck.innerHTML = "사용가능한 아이디입니다";
                // submit.disabled = false;
            }
          }
        })
    });
 });

document.getElementById("submit").addEventListener("click", function(){
  if (location.pathname =="/users"){
      if (confirm.innerHTML=="불일치" || idcheck.innerHTML == "해당 아이디는 이미 사용중입니다" || namecheck.innerHTML == "해당 닉네임은 이미 사용중입니다"){
       document.getElementById("submit").type = "button" 
      }else{
       document.getElementById("submit").type = "submit"      
      }
  }else{
    if (confirm.innerHTML == "일치" && namecheck.innerHTML == "사용가능한 닉네임입니다" && idcheck.innerHTML == "사용가능한 아이디입니다"){
    document.getElementById("submit").type = "submit"
    }else{
    document.getElementById("submit").type = "button"  
    alert("제대로 기입했는지 확인하시오")  
    }
  }  
})


// var error= document.getElementById("modal-body")
//  var modal = document.getElementById('myModal');
//     function fnShowPopup() {
//       modal.style.display = "block"; 
//   }

// $(document).ready(function(){
//   if (error.innerHTML.length > 13 ) {
//       setTimeout(fnShowPopup, 300); 
//   }
// }); 

</script>