
<% comments.each do |comment| %>  
  <div class="comments-show">
    <div class="comment">
      <%= comment.user.name %> / <%= time_ago_in_words(comment.created_at) %>전 [ <%= comment.created_at.strftime('%Y-%m-%d %H:%M') %> ] /
      <% if current_user == comment.user %>
        <%= link_to "지우기", comment_path(comment), method: :delete, remote: false, data: { confirm: "정말로 지우시겠습니까?" }, style: "color: red; font-weight: bold" %>
      <% end %>  
      <%= content_tag(:div, comment.body, style: "white-space: pre-wrap;") %>

    <!--추천기능-->
 
  추천수: <%= comment.votes_for.size %>
 <% if current_user %>    
  <% if current_user.voted_for? (comment)%>    
  <%= link_to "취소", unlike_comment_path(comment), method: :put %>
  <% else %>
  <%= link_to "추천", like_comment_path(comment), method: :put %>
  <% end %>
<% end %>
      <div class="comment-nav" align="right">
        <button onclick="showHide('comment_<%= comment.id %>')" onfocus="this.blur()">답글</button>
      </div>

      <div id="comment_<%= comment.id %>" style="display:none;"> <!--답글창-->
        <div class="reply-form">
         <% if user_signed_in? %>
          <%= form_for @new_comment do |f| %>
            <%= f.hidden_field :commentable_id, value: @new_comment.commentable_id %>
            <%= f.hidden_field :commentable_type, value: @new_comment.commentable_type %>
            <%= f.hidden_field :comment_id, value: comment.id %>
            <div class="field form-group">
              <%= f.hidden_field :name, value: current_user.name, required: "true" %>
              <%= f.text_area :body, class: 'form-control' %>
            </div>
            <div class="field form-group">
              <%= submit_tag "답댓글 작성", style: "float: right;" %>
            </div>
          <% end %>
         <% end %> 
        </div>
      </div>
    </div>
    <div style="margin-left: 20px;">
      <%= render partial: "comments/reply_end", locals: {comments: comment.children} %>
    </div>
  </div>
  <hr/>
<% end %>
 
 <%# <script>

    $(".icon").click(function(){
        if ($(this).hasClass("like")) //follow하고 있다면
            {
                $(this).removeClass("like");
                $(this).addClass("unlike");
            }
        else if ($(this).hasClass("unlike"))
            {
                $(this).removeClass("unlike");
                $(this).addClass("like");
            }
    });
</script>  %>