<% if user_signed_in? && current_user.name != nil &&  @new_comment.commentable.category != "제보글"%>
  <%= form_for @new_comment do |f| %>  
    <%= f.hidden_field :commentable_id, value: @new_comment.commentable_id %>
    <%= f.hidden_field :commentable_type, value: @new_comment.commentable_type %>
    <div class="field form-group form-inline">
      <%= f.text_area :body, class: 'comment form-control',placeholder:"주제와 무관한 댓글, 악플은 삭제될 수 있습니다." %>
    <%# </div>
    
    <div class="field form-group"> %>
      <%= submit_tag "등록", class:"comment-btn" %><br/>
    </div>
  <% end %>

<% elsif  user_signed_in? && current_user.admin? &&@new_comment.commentable.category == "제보글" %>
  <%= form_for @new_comment do |f| %>  
    <%= f.hidden_field :commentable_id, value: @new_comment.commentable_id %>
    <%= f.hidden_field :commentable_type, value: @new_comment.commentable_type %>
    <%# <%= form_for @new_comment.commentable do |p| %>     
    <div class="field form-group form-inline">
      <%= f.text_area :body, class: 'comment form-control',placeholder:"관리자용" %>    
      <%= submit_tag "등록", class:"comment-btn" %><br/>
    </div>
  <% end %>
<% elsif user_signed_in? && !current_user.admin? && @new_comment.commentable.category == "제보글"%>
  <div class="field form-group">
    <%= text_area_tag :nil, "", class: "form-control", placeholder: "관리자용 댓글창입니다." %>
  </div>
<% else %>
  <div class="field form-group">
    <%= text_area_tag :nil, "", class: "form-control", placeholder: "회원가입 후 이용가능합니다." %>
  </div>
<% end %>