<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog recipe-modal-dialog" role="document">
    <div class="modal-content recipe-modal-content">
    <div class="modal-header">
        <div class="modal-title" id="exampleModalLabel">북마크한 사용자&nbsp;<%=@recipe.followers_count%>명</div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body recipe-modal-body">
        
       
        <%@recipe.followers.each do |follower|%>
            <%=link_to profile_path(follower.profile.id) do%>
            <div class="recipe-about-follower d-flex">
                <div class="recipe-about-writer-imgbox">
                    <% if follower.profileimg.url != nil%>
                        <%=image_tag follower.profileimg.url%>
                    <%elsif%>
                        <%= image_tag "beige-logo.PNG"%>
                    <%end%>
                </div>

                <div class="recipe-about-writer linkto">
                    <%= follower.name%>
                </div>
                </div>
            <%end%>
        <%end%>
    </div>
    </div>
</div>
</div>

