
<%= link_to "크롤링 업데이트", "/crawling"%><br>

<% if user_signed_in? %>
    <%= link_to "로그아웃", destroy_user_session_path%>
<% else%>
    <%= link_to "로그인", new_user_session_path%>
<%end%>

<br>
---------------------------------------------
<br>
<button><%= link_to '식당으로 검색', zizuminfos_search_path, :style=> "color: #454338; text-decoration: none;" %></button>
<button><%= link_to '알레르기 검색', menus_search_path, :style=> "color: #454338; text-decoration: none;" %></button>