<p> <strong><%=params[:restaurant_name]%></strong> 로 검색 결과
   : <strong><%=@zizums.length%> 개</strong>의 지점을 찾았습니다.</p> <br>

  <!-- Informations -->
  <div class="shops">
    <% @zizums.each do |zizum| %>
      <div class="card" style="width: 20rem;">
        <div class="card-body">
          <%# ajax로 전송할 레스토랑 이름%>
          <h3 class="seeMenu"><%= zizum.restaurant_name%></h3>
          <h3><%=zizum.zizum_name%></h3>
          <%# display:none 하고 옆으로 메뉴 띄울 것임%>
          <p class="card-text"><%=zizum.sigungu%>, <%=zizum.sangse_juso%></p>
          <p class="card-text"><%=link_to '식당상세페이지',zizuminfo_path(id: zizum.id)%>
          <% if zizum.followed_by?(current_user) %>
            <!-- 좋아요를 했다면 -->
                <%= link_to(fa_icon('heart', class: "like icon"), 
                zizum_front_follow_path(id: zizum.id, utf8: params[:utf8], sido: params[:sido] , sigungu: params[:sigungu], a9_nanryu: params[:a9_nanryu], a6_peach: params[:a6_peach], a7_tomato: params[:a7_tomato], a1_maemil: params[:a1_maemil], a2_mil: params[:a2_mil], a3_daedu: params[:a3_daedu], a11_ddakgogi: params[:a11_ddakgogi], a12_shoigogi: params[:a12_shoigogi], a8_piggogi: params[:a8_piggogi], a13_saewoo: params[:a13_saewoo], a14_godeungeoh: params[:a14_godeungeoh], a15_honghap: params[:a15_honghap], a16_junbok: params[:a16_junbok], a17_gul: params[:a17_gul], a18_jogaeryu: params[:a18_jogaeryu], a19_gye: params[:a19_gye], a20_ohjingeoh: params[:a20_ohjingeoh], a4_hodu: params[:a4_hodu], a5_ddangkong: params[:a5_ddangkong], a21_ahwangsan: params[:a21_ahwangsan], commit: params[:commit]),
                 method: :post)%> 
            <!-- 좋아요를 안 했다면 -->
            <% else %>
                <%= link_to(fa_icon('heart', class: "unlike icon"), 
                zizum_front_follow_path(id: zizum.id, utf8: params[:utf8], sido: params[:sido] , sigungu: params[:sigungu], a9_nanryu: params[:a9_nanryu], a6_peach: params[:a6_peach], a7_tomato: params[:a7_tomato], a1_maemil: params[:a1_maemil], a2_mil: params[:a2_mil], a3_daedu: params[:a3_daedu], a11_ddakgogi: params[:a11_ddakgogi], a12_shoigogi: params[:a12_shoigogi], a8_piggogi: params[:a8_piggogi], a13_saewoo: params[:a13_saewoo], a14_godeungeoh: params[:a14_godeungeoh], a15_honghap: params[:a15_honghap], a16_junbok: params[:a16_junbok], a17_gul: params[:a17_gul], a18_jogaeryu: params[:a18_jogaeryu], a19_gye: params[:a19_gye], a20_ohjingeoh: params[:a20_ohjingeoh], a4_hodu: params[:a4_hodu], a5_ddangkong: params[:a5_ddangkong], a21_ahwangsan: params[:a21_ahwangsan], commit: params[:commit]), 
                method: :post)%>
            <% end %>
        </div>
      </div>
    <% end %>
  </div>  <!-- shops : close --> <br>

  <script>

    $(".icon").click(function(){
        // var res = $(this).;
        // alert(res);
        //var ziz = $(this).siblings(".zizumName").html();
        if ($(this).hasClass("like")) //follow하고 있다면
            {
                $(this).removeClass("like");
                $(this).addClass("unlike");
            }
        else if ($(this).hasClass("unlike"))
            {
                $(this).removeClass("unlike");
                $(this).addClass("like");
            }    
            });
          
</script>