<div class="jeju">
  <div class="row">
    <!-- 프로필 이미지 -->
    <div class="col-6">
      <p align="center">
        <br>
        <% if current_user.profileimg.url == nil %>
          <%= image_tag current_user.profileimg.url, style: "width: 40%;", class: "img-circle" %> <br> 
        <% elsif current_user.gender == "여" && current_user.ages == "10대이하"%>
          <%= image_tag("https://cdn.iconscout.com/icon/free/png-256/avatar-379-456331.png", style: "width: 40%") %><br>
        <% elsif current_user.gender == "여" && current_user.ages == "20-30대"%>
          <%= image_tag("https://cdn.iconscout.com/icon/free/png-256/avatar-373-456325.png", style: "width: 40%") %><br>
        <% elsif current_user.gender == "여" && current_user.ages == "40-50대"%>
          <%= image_tag("https://cdn.iconscout.com/icon/free/png-256/avatar-369-456321.png", style: "width: 40%") %><br>
        <% elsif current_user.gender == "여" && current_user.ages == "60대이상"%>
          <%= image_tag("https://cdn.iconscout.com/icon/free/png-256/avatar-377-456329.png", style: "width: 40%") %><br>

        <% elsif current_user.gender == "남" && current_user.ages == "10대이하"%>
          <%= image_tag("https://cdn.iconscout.com/icon/free/png-256/avatar-370-456322.png") %><br>
        <% elsif current_user.gender == "남" && current_user.ages == "20-30대"%>
          <%= image_tag("https://cdn.iconscout.com/icon/free/png-256/avatar-380-456332.png", style: "width: 40%") %><br>
        <% elsif current_user.gender == "남" && current_user.ages == "40-50대"%>
          <%= image_tag("https://cdn.iconscout.com/icon/free/png-256/avatar-372-456324.png", style: "width: 40%") %><br>
        <% elsif current_user.gender == "남" && current_user.ages == "60대이상"%>
          <%= image_tag("https://cdn.iconscout.com/icon/free/png-256/avatar-376-456328.png", style: "width: 40%") %><br>
        <% end %>
      </p>
    </div>

    <!-- 개인 정보 창 -->
    <div class="col-6">
      <br><br>
      <p style = "font-size: 250%;">  <!-- user name -->
        <strong> <%= current_user.name %>님 </strong>
        <%# (<%= current_user.nickname%>
      </p>

      <p style = "font-size: 150%;">  <!-- user ages -->
        <strong>연령 : </strong>
        <%= current_user.ages %> 
      </p>

      <p style = "font-size: 110%;">  <!-- user allergy -->
        <strong>주의해야 할 음식 : </strong>
        <%= current_user.allergy.gsub(',','') %> 
      </p>

      <div align="right">
        <button class="fill mbutton">  <!-- 수정 버튼 위치 2 -->
          <%= link_to '개인정보 변경', edit_user_registration_path, :style=> "color:black; text-decoration: none;" %>
        </button>
      </div>
    </div>
  </div>
</div> <!-- My Page : Close -->

<div class="row">
    <% current_user.following_by_type('Zizuminfo').order("id").limit(8).each do |zizum| %>
        <div class="col-3 jeju"> 
        <% if zizum.followed_by?(current_user) %>
            <%= link_to(image_tag("defaultImg.jpg", class: "round", style: "width: 100%; height:auto"), zizuminfo_path(zizum.id))%>
                <hr />
            <div class="row">
            <div class="col-6" align = left>
                <%= link_to "#{zizum.restaurant_name}", zizuminfo_path(zizum.id), :style=> "color:black; text-decoration: none; font-size: 150%" %>                    
            </div>
            <div class="col-6" align = right>
                <strong style="font-size: 129%;"> <%= zizum.followers_count %></strong>
                    <%= fa_icon('heart', class: "like icon fa-lg", style: "margin-right: 5%") %>
            </div>    
            </div>
            <div class = "row">
            <div class="col-9" align = left>
                <%= link_to "#{zizum.zizum_name}", zizuminfo_path(zizum.id), :style=> "color:black; text-decoration: none; font-size: 105%"%>
            </div>
            <div class="col-3" align = right>    
                <% if current_user == current_user %>
                    <%#= link_to fa_icon('trash', class: "fa-lg", style: "margin-right: 15%"), profile_follow_destroy_path(zizum.id), data: {confirm: '라이크를 취소하시겠습니까?'} %>
                <% end %>
            </div>
            </div>
            <hr />
        <% end %>
        </div>
    <% end %>
</div>