<!DOCTYPE html>
<html>
  <head>
    <title>Silver Spoon</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <%= tinymce :language => "en",:relative_urls => false %>
    <%= tinymce_assets %>
<script>
      function showHide(id) {
        var obj = document.getElementById(id);
        if (obj.style.display == 'none')
            obj.style.display = 'block';
        else
            obj.style.display = 'none';
      }
      
</script>
  </head>

  <body>
    <%= render 'layouts/header'%>
  <!--  <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>-->
    <%# <%= tinymce :language => "en",:relative_urls => false %>
    <%# <%= tinymce_assets %>
    <%= yield %>

    <%= render 'layouts/footer'%>
  </body>
  

</html>
