<%= form_with(model: freeboard, local: true) do |form| %>
  <% if freeboard.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(freeboard.errors.count, "error") %> prohibited this freeboard from being saved:</h2>

      <ul>
      <% freeboard.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "카테고리" %>
  <%= form.select :category, options_for_select([["일상글", "일상글"], ["정보글","정보글"], ["질문글","질문글"],["제보글","제보글"]]) %> <%# {prompt:'카테고리선택'}%>  

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
      <%= form.radio_button :locked, true %> 비밀글<br/>
  </div>
  
  <div class="actions">
    <%= form.submit %>
  </div>


<% end %>
