<p id="notice"><%= notice %></p>

<h1>Freeboards</h1>

<table>
  <thead>
    <tr class= "postall postd posti postq postc">
      <th>Category 
      <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown"aria-haspopup="true" aria-expanded="false">▼</button>
      <div class="dropdown-menu">
      <%# <a class="dropdown-item" id="all">전체</a>       %>
      <a class="dropdown-item" id="showSingle" target="d">일상글</a>
      <a class="dropdown-item" id="showSingle" target="i">정보글</a>
      <a class="dropdown-item" id="showSingle" target="q">질문글</a>
      <a class="dropdown-item" id="showSingle" target="c">제보글</a></div>                
   </th>
      <th>Title</th>
      <th>Name</th>
      <th>댓글</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @freeboards.each do |freeboard| %>
      <tr class = "postall" >
        <td><%= freeboard.category %></td> 
        <td><%= link_to freeboard.title, freeboard %></td>
        <td><%= freeboard.name %></td>
        <td> <%= freeboard.comment_threads.count %></td>
        <td><% if freeboard.locked %>LOCKED<% end %></td>
        <%# <td><%= link_to 'Show', freeboard %>
        <%# <td><%= link_to 'Edit', edit_freeboard_path(freeboard) %>
        <%# <td><%= link_to 'Destroy', freeboard, method: :delete, data: { confirm: 'Are you sure?' }%>
      </tr>
    <% end %>

    <% @free_daily.each do |d| %>
      <tr class="postd" style= "display:none">
        <td><%= d.category %></td> 
        <td><%= link_to d.title, d %></td>
        <td><%= d.name %></td>
        <td> <%= d.comment_threads.count %></td>
      </tr>
    <% end %>   
  
    <% @free_information.each do |i| %>
     <tr class="posti" style= "display:none">
      <td><%= i.category %></td> 
      <td><%= link_to i.title, i %></td>
      <td><%= i.name %></td>
      <td> <%= i.comment_threads.count %></td>
     </tr>
    <% end %>

    <% @free_qna.each do |q| %>
      <tr class="postq" style= "display:none">
        <td><%= q.category %></td> 
        <td><%= link_to q.title, q %></td>
        <td><%= q.name %></td>
        <td> <%= q.comment_threads.count %></td>        
      </tr>
    <% end %>

    <% @free_crowd.each do |c| %>
      <tr class="postc" style= "display:none">
        <td><%= c.category %></td> 
        <td><%= link_to c.title, c %></td>
        <td><%= c.name %></td>
        <td> <%= c.comment_threads.count %></td>   
        <td><% if c.locked %>LOCKED<% end %></td>
      </tr>
    <% end %>

  </tbody>
</table>

<br>
<% if user_signed_in? %>
<%= link_to 'New Freeboard', new_freeboard_path %>
<% end %>

<%# 지원 임시로 넣어둔 recipe link %>
<br>
<%= link_to 'Recipe Board', recipes_path%>

<script>
$(function(){
  $('#all').click(function(){
    $('.postall').show();
  });
  $('.dropdown-item').click(function(){
    $('.postall').hide();
    $('tr').not('tr.post'+$(this).attr('target')).hide();      
    $('.post'+$(this).attr('target')).show();
  });
});

 </script>