<p>
  <strong>Title:</strong>
  <%= @freeboard.title %>
  <%= @freeboard.impressionist_count(:filter=>:session_hash) %>
</p>

<p>
  <strong>Content:</strong>
  <%= @freeboard.content %>
</p>

<p>
  <strong>Content:</strong>
  <%= @freeboard.content %>
</p>

<p>
  <strong>Name:</strong>
  <%= @freeboard.name %>
  <%= link_to @freeboard.name,  profile_path(@writer.profile.id) %>
</p>


<% if current_user == @freeboard.user%>
  <%= link_to 'Edit', edit_freeboard_path(@freeboard) %> |
  <%= link_to 'Back', freeboards_path %>
<%end%>

  <%= render partial: "comments/template", locals: {commentable: @freeboard, new_comment: @comment} %>

<%# template은 댓글틀 / reply는 댓글list, 안에 답글reply_end , 안에 form이 댓글작성box %>
                <%# / 질문글은 answer이 댓글리스트(추천수기능) %>