<p>
  <strong>Title:</strong>
  <%= @freeboard.title %>
  <%= @freeboard.impressionist_count(:filter=>:session_hash) %>
</p>

<p>
  <strong>Content:</strong>
  <%= @freeboard.content %>
</p>

<p>
  <strong>Name:</strong>
  <%= @freeboard.name %>
</p>


<% if current_user == @freeboard.user%>
  <%= link_to 'Edit', edit_freeboard_path(@freeboard) %> |
  <%= link_to 'Back', freeboards_path %>
<%end%>

<% if @freeboard.category == "질문글" %>
  <%= render partial: "comments/answer", locals: {commentable: @freeboard, new_comment: @comment} %>
<% else %>
  <%= render partial: "comments/template", locals: {commentable: @freeboard, new_comment: @comment} %>
<% end %>